@inject IHttpContextAccessor Accessor
@{
    Layout = "_mainAdmin";
}
<div class="d-flex">

    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
    <button class="btn btn-outline-success" type="button">Buscar</button>
    <button class="btn btn-outline-success" type="button">Agregar</button>
</div>
    <div id="divContainerGrid" class="container">
  
    </div>