@inject IHttpContextAccessor Accessor
@{  DKbase.web.capaDatos.cClientes oCliente = DKweb.Codigo.Util.getSessionCliente(Accessor);
    DKbase.web.Usuario  oUsuario = DKweb.Codigo.Util.getSessionUsuario(Accessor);
    if (oUsuario == null)
{
       <text>
        <script>
            window.location.href = '/';
        </script>
    </text>    
}
}
<!DOCTYPE html>
<html>
<head>
    <title>Droguería Kellerhoff</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7D92XD5YD7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7D92XD5YD7');
</script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="author" content="Nativo Sistemas" />
    <meta name="distribution" content="Global" />
    <meta name="city" content="Rosario" />
    <meta name="country" content="Argentina" />
    <meta name="geography" content="Pueyrredón 1149 - S2000QIG - Rosario - Santa Fe - Argentina" />
    <meta name="robots" content="noindex,nofollow,noarchive,noodp,nosnippet" />
    <meta name="language" content="Spanish" />
    <meta name="theme-color" content="#2C3E50" />
    <link rel="shortcut icon" href="~/favicon.ico" />

    @RenderSection("head", required: false)
    <link href="../includes/css/main.css?n=22" rel="stylesheet">
    <link href="../includes/css/select2.min.css?n=3" rel="stylesheet">
    <link href="../includes/css/main-overwrite.css?n=59" rel="stylesheet">
</head>
@{
    if (DKweb.Codigo.Util.IsUsuariosDK(Accessor))
    {
        <style>
            .btn_confirmar {
                display: none !important;
            }
        </style>
    }
}
<body id="divBody" class="bd_sec" onresize="onresizeBody()">
    <div id="divCargandoContenedorGeneralFondo"></div>
    @*<div id="modalModuloCelular" class="modal md-effect-1 md-content portfolio-modal in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>*@
    <div id="modalModulo" class="modal md-effect-1 md-content portfolio-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <div id="modalModuloAlert" class="modal md-effect-1 md-content portfolio-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <header id="divHeader" class="wrapCelular">
        <nav id="hdr" class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                        @{
                            string hrefHOME;
                            if (DKweb.Codigo.Util.IsUsuariosDK(Accessor))
                            {
                                hrefHOME = " href=\" /ctacte/composicionsaldo\" ";
                            }
                            else
                            {
                                hrefHOME = " href=\"/mvc/Buscador\" ";                              
                            }
                        }
                        <a class="navbar-brand" @{WriteLiteral(hrefHOME);}>&nbsp;</a>
                    </div>
                    <div class="col-xs-12 visible-xs">
                        <div class="col-xs-2 no-padding-left">
                            <a id="menu-toggle" href="#" class="navbar-toggle float-left"><i class="fa fa-bars"></i></a>
                        </div>
                        <div class="col-xs-1 no-padding">
                            <a @{WriteLiteral(hrefHOME);} class="float-left" style="margin-top:5px"><img src="/../../img/mvc/logos/logo_ch.png" /></a>
                        </div>
                        <div class="col-xs-9 no-padding text-right">
                            <div class="col-xs-11 bienv_xs">
                                <span>Bienvenido!</span><div class="clear"></div>@{
                                  //DKbase.web.capaDatos.cClientes oCliente  = DKweb.Codigo.Util.getSessionCliente(Accessor);
                                  //DKbase.web.Usuario  oUsuario = DKweb.Codigo.Util.getSessionUsuario(Accessor);
                                    if (oUsuario != null)
                                    {
                                        WriteLiteral(oUsuario.NombreYApellido);
                                    }}
                            </div>
                            <div class="col-xs-1"><div class="clear15"></div><a class="user_xs" href="#"><i class="fa fa-user-circle-o"></i></a></div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 hidden-xs">
                        <ul class="nav navbar-nav navbar-right">
                            @{
                                string classPedidos = "";
                                string classCuentasCorrientes = "";
                                string classMediosDePagos = "";
                                string classDescargas = "";
                                string classDevo = "";
                                string classRevista = "";
                                string strController = Accessor.HttpContext.GetRouteValue("action").ToString();
                                switch (strController)
                                {
                                    case "Buscador":
                                    case "carrito":
                                    case "Diferido":
                                    case "carritoDiferido":
                                    case "subirpedido":
                                    case "subirarchivoresultado":
                                    case "subirarchivoresultado_msg":
                                    case "estadopedidos":
                                    case "estadopedidosresultado":
                                    case "recuperador":
                                    case "promocionescliente":
                                    case "reservavacunas":
                                    case "reservavacunas_mis":
                                    case "reservavacunas_total":
                                        classPedidos = " class=\"active\" ";
                                        break;
                                    case "Documento":
                                    case "FichaDebeHaberSaldo":
                                    case "descargaResumenes":
                                    case "descargaResumenesDetalle":
                                    case "composicionsaldo":
                                    case "composicionsaldoCtaCte":
                                    case "composicionsaldoCtaResumen":
                                    case "composicionsaldochequecuenta":
                                    case "ConsultaDeComprobantes":
                                    case "RespuestaConsultaDeComprobantes":
                                    case "comprobantescompleto":
                                    case "ConsultaDeComprobantesObraSocial":
                                    case "ConsultaDeComprobantesObraSocialResultado":
                                    case "ConsultaDeComprobantesObraSocialResultadoRango":
                                    case "deudaVencida":
                                        classCuentasCorrientes = " class=\"active\" ";
                                        break;
                                    case "mediosdepago1":
                                    case "mediosdepago2":
                                    case "mediosdepago3":
                                    case "mediosdepago4":
                                    case "mediosdepago5":
                                        classMediosDePagos = " class=\"active\" ";
                                        break;
                                    case "catalogo":
                                    case "descarga":
                                        classDescargas = " class=\"active\" ";
                                        break;
                                    case "Devoluciones":
                                    case "NuevaDevolucion":
                                    case "NuevaDevolucionVencidos":
                                        classDevo = " class=\"active\" ";
                                        break;
                                    default:
                                        break;
                                }

                            }
                            @{
                                if (DKweb.Codigo.Util.IsPermisoSeccion(Accessor,DKbase.generales.Constantes.cSECCION_PEDIDOS))
                                {
                                    <li><a @{ WriteLiteral(classPedidos);} href="/mvc/Buscador"><h3>PEDIDOS</h3></a></li>
                                }
                                if (DKweb.Codigo.Util.IsPermisoSeccion(Accessor,DKbase.generales.Constantes.cSECCION_DEVOLUCIONES))
                                {
                                    <li class="nuevo" data-fecha="2021-01-01"><a href="/devoluciones/Devoluciones" @{ WriteLiteral(classDevo);}><h3>DEVOLUCIONES</h3></a></li>
                                }
                                if (DKweb.Codigo.Util.IsPermisoSeccion(Accessor,DKbase.generales.Constantes.cSECCION_CUENTASCORRIENTES))
                                {
                                    <li><a href="/ctacte/composicionsaldo" @{ WriteLiteral(classCuentasCorrientes);}><h3>CUENTAS CORRIENTES</h3></a></li>
                                }
                                <li class="hidden-sm"><a @{ WriteLiteral(classMediosDePagos);} href="/config/mediosdepago1"><h3>MEDIOS DE PAGOS</h3></a></li>
                                <li class="hidden-sm"><a @{ WriteLiteral(classRevista);} target="_blank" @{WriteLiteral(DKweb.Codigo.Util.getHrefRevista(Accessor));}><h3>REVISTA ONLINE</h3></a></li>
                                if (DKweb.Codigo.Util.IsPermisoSeccion(Accessor,DKbase.generales.Constantes.cSECCION_DESCARGAS))
                                {
                                    <li class="hidden-sm"><a href="/config/catalogo" @{ WriteLiteral(classDescargas);}><h3>DESCARGAS</h3></a></li>
                                }
                            }
                            <li>
                                <a data-toggle="dropdown" class="user" href="#"><span><i class="fa fa-circle"></i></span><i class="fa fa-user-circle-o"></i></a>
                                <ul class="dropdown-menu">
                                    <li><span>Bienvenido!</span></li>
                                    <li>
                                        @{
                                            if (oUsuario != null)
                                            {
                                                WriteLiteral(oUsuario.NombreYApellido);
                                            }}
                                    </li>
                                    <li><div class="separate"></div></li>
                                    @{
                                        if (!DKweb.Codigo.Util.IsUsuariosDK(Accessor))
                                        {
                                            <li><a href="/config/mensajes"><i class="fa fa-envelope"></i>Mensajes<span class="msj_active">@{WriteLiteral(DKweb.Codigo.Util.ObtenerCantidadMensaje(Accessor));}</span></a></li>
                                        }
                                        <li><a href="/config/perfil"><i class="fa fa-key"></i>Contrase&ntilde;a</a></li>
                                        if (!DKweb.Codigo.Util.IsUsuariosOPERADORCLIENTE(Accessor) &&
                                        !DKweb.Codigo.Util.IsUsuariosDK(Accessor))
                                        {
                                            <li><a href="/config/usuarios"><i class="fa fa-users"></i>Usuarios</a></li>
                                        }

                                    }
                                    <li><a class="off" href="#" onclick="onclickSignOff(); return false;"><i class="fa fa-power-off"></i>SALIR</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- menu mobile -->
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <div class="row sidebar-hdr">
                    <a id="menu-close" href="#" class="toggle">X</a>
                    <img src="../img/mvc/logos/logo.png" class="img_logo_xs" />
                </div>
                <div class="clear"></div>
                @*inicio FARMASHOW*@
                @*<li>
                        <a class="s_menu1 btnFarmashow" id="filter_FARMASHOW" @{WriteLiteral(hrefFARMASHOW);} target="_blank">FARMASHOW</a>
                    </li>*@
                @*fin FARMASHOW*@
                @{ if (DKweb.Codigo.Util.IsPermisoSeccion(Accessor,DKbase.generales.Constantes.cSECCION_PEDIDOS))
                    {
                        <li>
                            <a class="s_menu" id="filter_1" href="#">PEDIDOS<i id="angle_filter_1" class="fa fa-angle-down"></i></a>
                            <div class="div_filter" id="d_filter_1">
                                <a href="/mvc/Buscador"><i class="fa fa-search"></i>BUSCADOR</a>
                                @{
                                    if (!DKweb.Codigo.Util.IsUsuariosDK(Accessor))
                                    {
                                        <a href="/mvc/Diferido"><i class="fa fa-shopping-basket"></i>CARRO SECUNDARIO</a>
                                    }
                                }
                                <a href="/mvc/estadopedidos"><i class="fa fa-file-text"></i>MIS PEDIDOS</a>
                                @{
                                    if (!DKweb.Codigo.Util.IsUsuariosDK(Accessor))
                                    {
                                        <a href="/mvc/recuperador?t=1"><i class="fa fa-recycle"></i>RECUPERADOR</a>
                                        <a href="/mvc/subirpedido"><i class="fa fa-upload"></i>SUBIR PEDIDOS</a>
                                    }
                                }
                                <a href="/mvc/promocionescliente"><i class="fa fa-percent"></i>OFERTAS</a>
                            </div>
                        </li>
                    }
                    if (DKweb.Codigo.Util.IsPermisoSeccion(Accessor,DKbase.generales.Constantes.cSECCION_DEVOLUCIONES))
                    {
                        <li>
                            <a class="s_menu nuevo-celu" id="filter_6" href="#" data-fecha="2021-01-01">DEVOLUCIONES<i id="angle_filter_6" class="fa fa-angle-down"></i></a>
                            <div class="div_filter" id="d_filter_6">
                                <a href="/devoluciones/Devoluciones"><i class="fa fa-file-text"></i>DEVOLUCIONES</a>
                                @{
                                    if (!DKweb.Codigo.Util.IsUsuariosDK(Accessor))
                                    {
                                        <a href="/devoluciones/NuevaDevolucion"><i class="fa fa-reply"></i>DEVOLUCIÓN NORMAL</a>
                                        <a href="/devoluciones/NuevaDevolucionVencidos"><i class="fa fa-calendar-minus-o"></i>DEVOLUCIÓN DE VENCIDOS</a>
                                        <a href="/devoluciones/DevolucionesFacturadoNoEnviado" class="nuevo-celu" data-fecha="2021-06-01"><i class="fa fa-calendar-minus-o"></i>FACTURADO NO ENVIADO</a>
                                    }
                                }
                            </div>
                        </li>
                    }
                    if (DKweb.Codigo.Util.IsPermisoSeccion(Accessor,DKbase.generales.Constantes.cSECCION_CUENTASCORRIENTES))
                    {
                        <li>
                            <a class="s_menu" id="filter_2" href="#">CUENTAS CORRIENTES<i id="angle_filter_2" class="fa fa-angle-down"></i></a>
                            <div class="div_filter" id="d_filter_2">
                                <a href="/ctacte/deudaVencida"><i class="fa fa-calendar-times-o"></i>DEUDA VENCIDA</a>
                                <a href="#" onclick="onclickCreditoDisponible(); return false;"><i class="fa fa-usd"></i>CREDITO DISPONIBLE</a>
                                <a href="/ctacte/composicionsaldo"><i class="fa fa-balance-scale"></i>COMPOSICI&Oacute;N DE SALDOS</a>
                                <a href="/ctacte/FichaDebeHaberSaldo"><i class="fa fa-exchange"></i>FICHA MOVIMIENTOS</a>
                                <a href="/ctacte/ConsultaDeComprobantes"><i class="fa fa-file"></i>COMPROBANTES</a>
                                <a href="/ctacte/ConsultaDeComprobantesObraSocial"><i class="fa fa-medkit"></i>OBRAS SOCIALES</a>
                                <a href="/ctacte/descargaResumenes"><i class="fa fa-file-pdf-o"></i>RESUMENES</a>
                                <a href="#" onclick="onclickObtenerSaldoFinalADiciembrePorCliente(); return false;"><i class="fa fa-usd"></i>SALDO AL 31/12</a>
                                @{
                                    if (!DKweb.Codigo.Util.IsUsuariosDK(Accessor))
                                    {
                                        <a href="#" onclick="onclickConsultasCtaCte(); return false;"><i class="fa fa-envelope"></i>CONSULTAS</a>
                                    }
                                }

                            </div>
                        </li>
                    }
                    <li>
                        <a class="s_menu" id="filter_3" href="#">MEDIOS DE PAGO<i id="angle_filter_3" class="fa fa-angle-down"></i></a>
                        <div class="div_filter" id="d_filter_3">
                            <a href="/config/mediosdepago1"><i class="fa fa-dollar"></i>SERVICIO RECAUDATORIO</a>
                            <a href="/config/mediosdepago2"><i class="fa fa-credit-card-alt"></i>TARJETA DE DEPOSITO</a>
                            <a href="/config/mediosdepago3"><i class="fa fa-bank"></i>Depositos y transferencias bancarias</a>
                            <a href="/config/mediosdepago4"><i class="fa fa-credit-card"></i>Tarjetas de Crédito</a>
                            <a href="/config/mediosdepago5"><i class="fa fa-file-text-o"></i>Sistema Cobinpro</a>
                        </div>
                    </li>
                    if (DKweb.Codigo.Util.IsPermisoSeccion(Accessor,DKbase.generales.Constantes.cSECCION_DESCARGAS))
                    {
                        <li>
                            <a class="s_menu" id="filter_4" href="#">DESCARGAS<i id="angle_filter_4" class="fa fa-angle-down"></i></a>
                            <div class="div_filter" id="d_filter_4">
                                <a href="/config/catalogo"><i class="fa fa-file-text-o"></i>CATALOGO Y FOLLETOS</a>
                                <a href="/config/descarga"><i class="fa fa-download"></i>ARCHIVOS PARA DESCARGAR</a>
                            </div>
                        </li>
                    }

                    <li>
                        <a class="s_menu" id="filter_5" href="#">PERFIL<i id="angle_filter_5" class="fa fa-angle-down"></i></a>
                        <div class="div_filter" id="d_filter_5">
                            @{
                                if (!DKweb.Codigo.Util.IsUsuariosDK(Accessor))
                                {
                                    <a href="/config/mensajes"><i class="fa fa-envelope"></i>MENSAJES<span class="msj_active">@{WriteLiteral(DKweb.Codigo.Util.ObtenerCantidadMensaje(Accessor));}</span></a>
                                }
                                <a href="/config/perfil"><i class="fa fa-key"></i>CONTRASE&Ntilde;A</a>
                                if (!DKweb.Codigo.Util.IsUsuariosOPERADORCLIENTE(Accessor) &&
                                    !DKweb.Codigo.Util.IsUsuariosDK(Accessor))
                                {
                                    <a href="/config/usuarios"><i class="fa fa-users"></i>USUARIOS</a>
                                }
                            }
                        </div>
                    </li>
                    <li>
                        <a class="off" href="#" onclick="onclickSignOff(); return false;"><i class="fa fa-power-off"></i>SALIR</a>
                    </li>
                }
            </ul>
        </nav>
    </header>
    <section class="section-gris-claro wrapCelular">
        <div class="col-xs-12">
            @* Inicio Promotores Y Encargados *@
            @{
                if (oUsuario != null && oUsuario.idRol == DKbase.generales.Constantes.cROL_PROMOTOR)
                {
                    <p class="TitleCliente">Seleccione un cliente</p> 
                    List<DKbase.web.capaDatos.cClientes> colClientes = DKweb.Codigo.Util.spRecuperarTodosClientesByPromotor(Accessor, oUsuario.ApNombre);

                    <select class="form-control cmbCliente" id="cmbCliente" name="cmdCliente">
                        @{
                            foreach (DKbase.web.capaDatos.cClientes oCli in colClientes)
                            {
                                string inhabilitado;

                                if (oCli.cli_estado == "INH")
                                {
                                    inhabilitado = "<span style='color: red;'> (INHABILITADO) </span>";
                                }
                                else
                                {
                                    inhabilitado = "";
                                }
                                if (oCliente.cli_codigo == oCli.cli_codigo)
                                {
                                    <option value="@{ WriteLiteral(oCli.cli_codigo); }" selected>
                                        @{ WriteLiteral(oCli.cli_codigo); } - @{ WriteLiteral(oCli.cli_nombre); } @{ WriteLiteral(inhabilitado);}
                                    </option>
                                }
                                else
                                {
                                    <option value="@{ WriteLiteral(oCli.cli_codigo); }">@{ WriteLiteral(oCli.cli_codigo); } - @{ WriteLiteral(oCli.cli_nombre); } @{ WriteLiteral(inhabilitado);} </option>
                                }
                            }
                        }
                    </select>
                }

                if (oUsuario != null && oUsuario.idRol == DKbase.generales.Constantes.cROL_ENCGRAL)
                {
                    <p class="TitleCliente">Seleccione un cliente</p>
                    List<DKbase.web.capaDatos.cClientes> colClientes = DKweb.Codigo.Util.RecuperarTodosClientes(Accessor);

                    <select class="form-control cmbCliente" id="cmbCliente" name="cmdCliente">
                        @{
                            foreach (DKbase.web.capaDatos.cClientes oCli in colClientes)
                            {
                                string inhabilitado;

                                if (oCli.cli_estado == "INH")
                                {
                                    inhabilitado = "<span style='color: red;'> (INHABILITADO) </span>";
                                }
                                else
                                {
                                    inhabilitado = "";
                                }
                                if (oCliente.cli_codigo == oCli.cli_codigo)
                                {
                                    <option value="@{ WriteLiteral(oCli.cli_codigo); }" selected>
                                        @{ WriteLiteral(oCli.cli_codigo); } - @{ WriteLiteral(oCli.cli_nombre); } @{ WriteLiteral(inhabilitado);}
                                    </option>
                                }
                                else
                                {
                                    <option value="@{ WriteLiteral(oCli.cli_codigo); }">@{ WriteLiteral(oCli.cli_codigo); } - @{ WriteLiteral(oCli.cli_nombre); } @{ WriteLiteral(inhabilitado);} </option>
                                }
                            }
                        }
                    </select>
                }

                if (oUsuario != null && oUsuario.idRol == DKbase.generales.Constantes.cROL_GRUPOCLIENTE)
                {
                    <p class="TitleCliente">Seleccione un cliente</p>
                    string[] GrupoCliente;

                    GrupoCliente = oUsuario.NombreYApellido.Split(' ');

                    List<DKbase.web.capaDatos.cClientes> colClientes = DKweb.Codigo.Util.RecuperarTodosClientesByGrupoCliente(Accessor,GrupoCliente[0]);
                    <select class="form-control cmbCliente" id="cmbCliente" name="cmdCliente">
                        @{
                            foreach (DKbase.web.capaDatos.cClientes oCli in colClientes)
                            {
                                string inhabilitado;

                                if (oCli.cli_estado == "INH")
                                {
                                    inhabilitado = "<span style='color: red;'> (INHABILITADO) </span>";
                                }
                                else
                                {
                                    inhabilitado = "";
                                }
                                if (oCliente.cli_codigo == oCli.cli_codigo)
                                {
                                    <option value="@{ WriteLiteral(oCli.cli_codigo); }" selected>
                                        @{ WriteLiteral(oCli.cli_codigo); } - @{ WriteLiteral(oCli.cli_nombre); } @{ WriteLiteral(inhabilitado);}
                                    </option>
                                }
                                else
                                {
                                    <option value="@{ WriteLiteral(oCli.cli_codigo); }">@{ WriteLiteral(oCli.cli_codigo); } - @{ WriteLiteral(oCli.cli_nombre); } @{ WriteLiteral(inhabilitado);} </option>
                                }
                            }
                        }
                    </select>
                }

                if (oUsuario != null && oUsuario.idRol == DKbase.generales.Constantes.cROL_ENCSUCURSAL)
                {
                    <p class="TitleCliente">Seleccione un cliente</p>
                    string IdSuc;

                    IdSuc = oUsuario.NombreYApellido.Substring(9, 2);

                    List<DKbase.web.capaDatos.cClientes> colClientes = DKweb.Codigo.Util.RecuperarTodosClientesBySucursal(Accessor,IdSuc);
                    <select class="form-control cmbCliente" id="cmbCliente" name="cmdCliente">
                        @{
                            foreach (DKbase.web.capaDatos.cClientes oCli in colClientes)
                            {
                                string inhabilitado;

                                if (oCli.cli_estado == "INH")
                                {
                                    inhabilitado = "<span style='color: red;'> (INHABILITADO) </span>";
                                }
                                else
                                {
                                    inhabilitado = "";
                                }
                                if (oCliente.cli_codigo == oCli.cli_codigo)
                                {
                                    <option value="@{ WriteLiteral(oCli.cli_codigo); }" selected>
                                        @{ WriteLiteral(oCli.cli_codigo); } - @{ WriteLiteral(oCli.cli_nombre); } @{ WriteLiteral(inhabilitado);}
                                    </option>
                                }
                                else
                                {
                                    <option value="@{ WriteLiteral(oCli.cli_codigo); }">@{ WriteLiteral(oCli.cli_codigo); } - @{ WriteLiteral(oCli.cli_nombre); } @{ WriteLiteral(inhabilitado);} </option>
                                }
                            }
                        }
                    </select>
                }
            }
            @* Fin Promotores *@
        </div>
        <div id="contenidoRender" class="container-fluid">
            @RenderBody()
        </div>
    </section>
    @*borrar*@
    <div id="divContenedorOfertas" class="off_fxd wrapCelular">
    </div>

    @*fin borrar*@
    <footer id="idFooter" class="footer wrapCelular"></footer>

    <div class="container-fluid footer_legales wrapCelular">
        <div class="row">

            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 padding_left_ftr ftr_contacto">
                <div class="clear15"></div>
                <p class="p_11 color_white">&copy;   @{ WriteLiteral(DateTime.Now.Year.ToString()); }  Droguer&iacute;a Kellerhoff </p>
            
                <div class="popup-button">
                    <span>Términos y Condiciones</span>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 padding_left_ftr ftr_contacto">
                <table border="0" cellspacing="0" cellpadding="0" class="hidden-xs">
                    <tr>
                        <td align="right" class="ftr_firma">Desarrollo&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <a style="display: inline-block; width: auto; margin-top: 7px;" class="float-left" href="http://www.nativosistemas.com.ar/" target="_blank" title="Nativo Sistemas">
                                <img src="~/img/mvc/logos/nativo.png" style="height:28px;" />
                            </a>
                        </td>
                        <td align="center" class="ftr_firma">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="right" class="ftr_firma">Diseño</td>
                        <td><a class="mtz" href="http://mestizosweb.com/" target="_blank" title="Mestizos Comunicaci&oacute;n"></a></td>
                    </tr>
                </table>
                <div class="col-xs-12 text-right visible-xs"><a href="http://www.nativosistemas.com.ar/" target="_blank" title="Nativo Sistemas"> <img src="~/img/mvc/logos/nativo.png" style="height:28px;" /></a></div>
            </div>
            @*<div class="clear25 visible-xs"></div>*@
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><a class="buttonontop" title="Subir" href="#"><i class="fa fa-caret-up"></i></a></div>
        </div>
    </div>
     <div class="overlay-tyc"></div>
            <div class="popup-tyc">
                <h2 class="titulo-popup">Términos y Condiciones</h2>
                <p class="titulo-popup"><strong>Aviso de privacidad</strong></p>
                <p>El fin del presente es que usted pueda comprender la información que 
                recopilamos, los fines y derechos que tiene con respecto a la utilización de sus 
                datos personales en Droguería Kellerhoff S.A (“Droguería Kellerhoff”) y en 
                particular dentro del sitio www.kellerhoff.com.ar (En adelante, el “sitio”).</p>
                <p>El acceso y navegación a través del sitio implica adhesión total y sin reservas de 
                los usuarios a todos y cada uno de los términos y condiciones determinados en el 
                presente escrito, en caso de no estar de acuerdo en forma total, le solicitamos por 
                favor que no acceda a la plataforma.</p>
                <p>Droguería Kellerhoff conserva el derecho de modificar los términos y condiciones 
                de uso de la plataforma, sin aviso previo ni responsabilidad alguna. Dichas 
                modificaciones entrarán en vigor desde el momento mismo de su publicación en 
                el sitio.</p>
                <p class="titulo-popup"><strong>Responsabilidad del usuario</strong></p>
                <p>El sitio contiene datos e información comercial de los productos como stock, 
                precios y condiciones de venta, entre otros. El usuario reconoce y acepta que el 
                sitio es de uso exclusivo para los usuarios y que la información es confidencial y 
                de propiedad exclusiva de Droguería Kellerhoff.</p>
                <p>Son usuarios del sitio (en adelante “usuarios”), todas aquellas personas humanas 
                o jurídicas que accedan y utilicen el sitio.</p>
                <p>El usuario se obliga a:</p>
                <ul>
                    <li>Guardar la más estricta confidencialidad respecto a la información;</li>
                    <li>No ceder a terceros la información;</li>
                    <li>No permitir a terceros el acceso a la información;</li>
                    <li>Utilizar el sitio y/o la información única y exclusivamente en forma personal y 
                para realizar la compra o reserva de los productos</li>
                    <li>No informar, ceder, transferir, vender las credenciales de acceso a terceros, 
                asumiendo toda responsabilidad por el incumplimiento de ello.</li>
                    <li>No extraer contenidos del sitio, acceder ilegalmente al sitio, o realizar ingeniería 
                inversa.</li>
                    <li>No utilizar bots, rastreadores, scripts, virus, gusanos o cualquier otro código 
                informático, archivos, programas o procesos automatizados, extractores de 
                contenido u otros medios automatizados para acceder o recopilar datos u otro 
                contenido del sitio o interactuar de otro modo con él.</li>
                    <li>No acceder ilegalmente, evitar, eliminar, eludir cualquier medida de seguridad 
                utilizada para proteger el contenido del sitio.</li>
                    <li>No utilizar el nombre, el logotipo, la marca registrada o las marcas comerciales 
                del sitio.</li>
                    <li>No utilizar, registrar ningún dominio, nombre de usuario de redes sociales, 
                nombre comercial, marca comercial, logotipo u otro identificador de origen que 
                pueda confundirse con la marca del sitio.</li>
                </ul>
                <p>La enumeración anterior tiene carácter meramente enunciativo. Sin perjuicio de 
                los recursos legales que correspondan, en caso de infracción, conductas dolosas 
                o fraudulentas, Droguería Kellerhoff se reserva el derecho de cancelar el registro y 
                dar de baja a cualquier usuario. En cualquiera los supuestos, el usuario no tendrá 
                derecho a realizar reclamo indemnizatorio.</p>
                <p class="titulo-popup"><strong>Uso de los datos</strong></p>
                <p>Se entienden por “datos personales” toda información de cualquier tipo a usted 
                referida, como su nombre, domicilio o documento nacional de identidad. 
                Se entienden por “datos sensibles” aquellos que revelan su origen racial y étnico, 
                opiniones políticas, convicciones religiosas, filosóficas o morales, afiliación 
                sindical e información referente a su salud o a su vida sexual. Usted no puede ser 
                obligado a proporcionar datos sensibles.</p>
                <p>El sitio efectúa un uso responsable de la información personal suministrada por el 
                usuario en base a las disposiciones de la ley de protección de datos personales 
                (ley n° 25.326) y normas complementarias.</p>
                <p>Al aceptar los presentes términos y condiciones, el usuario presta su 
                consentimiento expreso para que el sitio recopile, trate y utilice sus datos 
                personales. El sitio se limitará a recopilar, procesar y utilizar aquellos datos que 
                resulten necesarios para la prestación de sus servicios.</p>
                <p class="titulo-popup"><strong>Captura de datos personales</strong></p>
                <p>El objetivo de obtener esta información es conocer los intereses y las preferencias 
                de quienes visitan el sitio para poder mejorar y crear una experiencia
                personalizada.</p>
                <p>El registro de datos puede incluir:</p>
                <ul>
                    <li>Información de los dispositivos o computadoras desde los que el usuario 
                accede al sitio.</li>
                    <li>Tipo o versión del navegador o del sistema operativo, configuraciones, 
                datos de conexión, información sobre algunas de las aplicaciones 
                descargadas y parámetros.</li>
                    <li>La página web que se visita antes de acceder al sitio.</li>
                    <li>Direcciones de IP.</li>
                    <li>Información sobre la actividad de los usuarios dentro del sitio. A modo de 
                ejemplo: las búsquedas realizadas, las páginas visitadas dentro del sitio, 
                filtros utilizados.</li>
                    <li>Información sobre ubicación (geolocalización).</li>
                </ul>
                <p>En ningún caso se obtendrá un beneficio comercial a partir de los datos 
                personales recopilados.</p>
                <p class="titulo-popup"><strong>Uso de cookies y otras tecnologías</strong></p>
                <p>El usuario reconoce y acepta que el sitio, podrá utilizar un sistema de seguimiento 
                de conducta mediante la utilización de “cookies” y/u otras tecnologías similares 
                de seguimiento.</p>
                <p>Los tipos de cookies que podrá utilizar el sitio son las siguientes:</p>
                <ul>
                    <li>Necesarias: Aseguran de forma anónima funcionalidades básicas y 
                características de seguridad del sitio web.</li>
                    <li>Funcionales: Facilitan la mejor experiencia de la navegación.</li>
                    <li>De rendimiento: Su fin es comprender y analizar los índices de 
                rendimiento clave del sitio web para realizar mejoras en la experiencia del 
                usuario.</li>
                    <li>Analíticas: Su fin es comprender cómo los visitantes interactúan con el 
                sitio web.</li>
                    <li>Publicitarias: Su fin es ofrecer a los visitantes anuncios y campañas de 
                marketing personalizadas.</li>
                    <li>Otras.</li>
                </ul>
                <p>El sitio no puede acceder a otra información almacenada en el dispositivo a través 
                de las cookies.</p>
                <p class="titulo-popup"><strong>Almacenamiento y seguridad</strong></p>
                <p>Los datos personales recolectados por Droguería Kellerhoff podrán ser 
                almacenados en argentina o en cualquier lugar que Droguería Kellerhoff tenga 
                servicios de almacenamiento propios o de terceros contratados.</p>
                <p>Por ello, sus datos personales podrán ser transferidos y tratados dentro y fuera 
                del país, en cuyo caso dicha transferencia se realizará en cumplimiento a lo 
                establecido en este aviso de privacidad y de acuerdo con la normativa vigente de 
                la república argentina, siempre priorizando los países considerados adecuados 
                en la resolución n ° 34/2019 de la agencia de acceso a la información pública.</p>
                <p>Sólo almacenaremos sus datos personales durante el tiempo que fuere razonable
                según el propósito para el que se han recopilado originalmente o para cumplir con 
                la normativa del país donde opere el sitio.</p>
                <p class="titulo-popup"><strong>Transferencia a terceros</strong></p>
                <p>Las transferencias de datos o información hacia terceros se realizarán bajo los 
                estándares de nuestra política de protección de datos y los términos y 
                condiciones de este presente escrito, las mismas solo podrán ser bajo necesidad 
                comercial legítima de Droguería Kellerhoff.</p>
                <p>En el caso que Droguería Kellerhoff tomará conocimiento de que un tercero está 
                usando o divulgando datos personales de una manera contraria a su política de 
                protección de datos tomará las medidas razonables para prevenir y detener el uso 
                o la divulgación de dichos datos de manera inmediata.</p>
                <p class="titulo-popup"><strong>Derecho de acceso, rectificación, actualización o supresión</strong></p>
                <p>Usted tiene el derecho de acceder a los datos personales que poseemos 
                vinculados a usted y a los detalles del tratamiento de los mismos, así como a 
                rectificarlos en caso de ser inexactos, o bien solicitarnos su eliminación cuando 
                resulten excesivos o innecesarios para las finalidades que justificaron su captura, 
                como así también tiene derecho a oponerse al tratamiento de estos para fines 
                específicos.</p>
                <p>El derecho de acceso a la información personal podrá ser ejercido por el 
                interesado en intervalos no inferiores a seis meses, salvo acreditación de interés 
                legítimo al efecto según el artículo 14 de la ley de protección de datos personales.</p>
                <p>Los mecanismos que Droguería Kellerhoff ha implementado para el ejercicio de 
                dichos derechos son:</p>
                <ul>
                    <li>A través de la presentación de la solicitud respectiva vía correo electrónico 
                a reclamos@kellerhoff.com.ar con el asunto “datos personales web”, 
                informando el motivo del contacto y acreditando identidad.</li>
                </ul>
                <p class="titulo-popup"><strong>Responsable del tratamiento de la información personal</strong></p>
                <p>El responsable del archivo de datos es Droguería Kellerhoff S.A. Cuit 30-
                53975649-0 con domicilio en Pueyrredon 1149 – ciudad de Rosario, Santa Fe.</p>
                <p class="titulo-popup"><strong>Modificaciones de los términos y condiciones</strong></p>
                <p>Droguería Kellerhoff se reserva la facultad de actualizar o modificar los presentes 
                términos y condiciones, en cualquier momento, sin necesidad de aviso previo, los 
                cuales estarán vigentes a partir de publicación en el sitio.</p>
                <p class="titulo-popup"><strong>Ley aplicable y jurisdicción</strong></p>
                <p>El presente aviso de privacidad se regirá por las leyes de la república argentina. En 
                caso de controversia, relacionada con la interpretación, validez, celebración o 
                cumplimiento de esta, las partes (el usuario y Droguería Kellerhoff) se someterán 
                a la jurisdicción de los tribunales ordinarios de la ciudad de Rosario, renunciando 
                a cualquier otro fuero o jurisdicción.</p>


                <span class="close-popup" onclick="cerrarPopup()">Cerrar</span>
            </div>

        <script>
            // Función para abrir el popup
            function abrirPopup() {
                document.querySelector('.overlay-tyc').style.display = 'block';
                document.querySelector('.popup-tyc').style.display = 'block';
            }

            // Función para cerrar el popup
            function cerrarPopup() {
                document.querySelector('.overlay-tyc').style.display = 'none';
                document.querySelector('.popup-tyc').style.display = 'none';
            }

            // Agregar el evento clic al botón
            document.querySelector('.popup-button').addEventListener('click', abrirPopup);
            document.querySelector('.overlay-tyc').addEventListener('click', function(event) {
        if (event.target === this) {
            cerrarPopup();
        }
    });
        </script>

    @{
        string resultado = string.Empty;
        if (oCliente != null)
        {
            resultado += "<input type=\"hidden\" id=\"hiddenCliente\" value=\"" + System.Net.WebUtility.HtmlEncode(DKbase.generales.Serializador_base.SerializarAJson(oCliente)) + "\" />";
            if (oCliente.cli_estado == DKbase.generales.Constantes.cESTADO_HAB
            && DKweb.Codigo.Util.IsPermisoSeccion(Accessor,DKbase.generales.Constantes.cSECCION_PEDIDOS))
            {
                List<DKbase.web.capaDatos.cOferta> l_Ofertas =   DKweb.Codigo.Util.RecuperarTodasOfertaPublicar(Accessor);
                if (l_Ofertas != null)
                {
                    resultado += "<input type=\"hidden\" id=\"hiddenListaOfertas\" value=\"" + System.Net.WebUtility.HtmlEncode(DKbase.generales.Serializador_base.SerializarAJson(l_Ofertas)) + "\" />";
                }
            }

            if (DKweb.Codigo.Util.ClientesBase_isLogeo(Accessor)
                && oUsuario != null)
            {
                DKweb.Codigo.Util.ClientesBase_isLogeo_null(Accessor);
                bool isUsuarioVerMensajes_PopUp = true;                
                isUsuarioVerMensajes_PopUp = !(!string.IsNullOrEmpty(oCliente.cli_GrupoCliente) && oCliente.cli_GrupoCliente.Trim().ToUpper() == "FARMACITY");
                if (isUsuarioVerMensajes_PopUp)
                {
                    List<DKbase.web.capaDatos.cMensaje>
                        listaMensaje = DKweb.Codigo.Util.RecuperartTodosMensajeNewPorSucursal(Accessor,oCliente.cli_codsuc,oCliente.cli_codrep);
                    resultado += "<input type=\"hidden\" id=\"hiddenListaMensajeImportante\" value=\"" + System.Net.WebUtility.HtmlEncode(DKbase.generales.Serializador_base.SerializarAJson(listaMensaje)) + "\" />";
                    List<DKbase.web.capaDatos.cArchivo> listaPopUp = DKweb.Codigo.Util.RecuperarPopUpPorCliente(Accessor,oCliente.cli_codigo, oCliente.cli_codsuc);
                    resultado += "<input type=\"hidden\" id=\"hiddenListaPopUp\" value=\"" + System.Net.WebUtility.HtmlEncode(DKbase.generales.Serializador_base.SerializarAJson(listaPopUp)) + "\" />";
                }
            }
        }


        resultado += "<input type=\"hidden\" id=\"hiddenIsMostrarOferta\" value=\"" + System.Net.WebUtility.HtmlEncode(DKweb.Codigo.Util.isMostrarOferta(Accessor).ToString().ToLower()) + "\" />";
        
        WriteLiteral(resultado);
    }
    @RenderSection("sectionHidden", required: false)
    <script type="text/javascript" src="../includes/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="../includes/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../includes/js/jquery/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../includes/js/select2.full.min.js"></script>



    <script src="~/includes/js/libreria.js?n=22" type="text/javascript"></script>
    <script src="~/includes/js/oferta.js?n=19" type="text/javascript"></script>
    <script src="~/includes/js/kellerhoff.js?n=55" type="text/javascript"></script>
    <script src="~/includes/js/ajax.js?n=49" type="text/javascript"></script>
    <script src="~/includes/js/mensaje.js?n=40" type="text/javascript"></script>
    <script src="~/includes/js/promotores.js?n=4" type="text/javascript"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
