@inject IHttpContextAccessor Accessor
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="author" content="Nativo Sistemas" />
    <meta name="distribution" content="Global" />
    <meta name="city" content="Rosario" />
    <meta name="country" content="Argentina" />
    <meta name="geography" content="Juan M. Gutierrez 2059 - S2001DHE - Rosario - Santa Fe - Argentina" />
    <meta content="INDEX, FOLLOW" name="ROBOTS" />
    <meta name="language" content="Spanish" />
    <meta name="theme-color" content="#2C3E50" />
    <link rel="shortcut icon" href="~/favicon.ico" />

    <title>Droguería Kellerhoff</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7D92XD5YD7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-7D92XD5YD7');
    </script>
    <link href="../includes/home/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="../includes/home/css/main.css?n=10" rel="stylesheet" />
    <link href="../includes/home/css/main-overwrite.css?n=6" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" />

    <script src="../includes/home/js/jquery-3.1.0.min.js"></script>
    <script src="../includes/home/js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/includes/home/css/jquery-confirm.min.css" />
    <script src="../../includes/home/js/jquery-confirm.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../includes/home/js/jquery/function.js"></script>
    <script type="text/javascript" src="../includes/home/js/jquery/validate.js"></script>
    <script type="text/javascript" src="../includes/home/js/jquery/function_forms.js"></script>

    <script type="text/javascript" src="../includes/js/mensaje.js?n=31"></script>
    <script type="text/javascript" src="../includes/home/js/jquery/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../includes/home/js/master.js?n=14"></script>
    <script src="../includes/home/js/Libreria.js?n=2"></script>
    <script type="text/javascript" src="../includes/home/js/recall.js?n=3"></script>
    @RenderSection("head", required: false)
</head>

<body class="@{
    WriteLiteral(DKweb.Codigo.Util.htmlCssBody(Accessor));
}">
    @{
        string formAction = "";
        string strController = Accessor.HttpContext.GetRouteValue("action").ToString();
        switch (strController)
        {
            case "contactocv":
                formAction = " method=\"post\" action=\"contactocv_Post\" ";
                break;
        }
    }
    <form id="form1" name="form1" @{
        WriteLiteral(formAction);
    } runat="server" enctype="multipart/form-data">

        <div id="modalModulo" class="modal md-effect-1 md-content portfolio-modal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true"></div>
        <div class="container-fluid hdr_nd hidden-xs">
            <div class="row">
                <div class="col-lg-5 col-md-5 text-left hidden-sm hidden-xs">
                    <div class="cont_left"><i class="fa fa-phone color_emp_rd"></i>0341 420 3300 </div>
                    <div class="cont_left hidden-sm"><i class="fa fa-map-marker color_emp_rd"></i>Rosario &bull; Santa
                        Fe
                        &bull; Argentina</div>
                    @* <div class="cont_left"><i></i> v1.0.1 </div>     *@
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-right">

                    <div class="col-lg-1 cont_right no-padding-right">
                        <button class="ingreso" 
                                id="botonIniciarSesion"
                                data-sitekey="reCAPTCHA_site_key" 
                                data-callback='onSubmit' 
                                data-action='submit'>
                        </button>
                    </div>
                    <div class="col-lg-2 cont_right no-padding-right">
                        <input tabindex="2" name="login_password" id="login_password" class="form-control form_login"
                            type="password" placeholder="Contrase&ntilde;a" onkeypress="onkeypressIngresar(event)" />
                    </div>
                    <div class="col-lg-2 cont_right no-padding-right">
                        <input tabindex="1" name="login_name" id="login_name" class="form-control form_login"
                            type="text" placeholder="Usuario" onkeypress="onkeypressIngresar(event)" />
                    </div>

                    <div class="col-lg-7 cont_right no-padding-right hidden-md">
                        <div class="clear10"></div>
                        <i class="fa fa-sign-in color_emp_rd"></i>Acceso Clientes
                    </div>
                </div>
            </div>
        </div>

        <header>
            <nav id="hdr" class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                            <a class="navbar-brand" href="../home/index.aspx">&nbsp;</a>
                        </div>
                        <div class="col-xs-12 visible-xs">
                            <div class="col-xs-2 no-padding-left">
                                <a id="menu-toggle" href="#" class="navbar-toggle float-left"><i
                                        class="fa fa-bars"></i></a>
                            </div>
                            <div class="col-xs-1 no-padding">
                                <a href="../home/index.aspx" class="float-left" style="margin-top: 5px">
                                    <img src="../img/home/logos/logo_ch.png" /></a>
                            </div>
                            <div class="col-xs-9 no-padding text-right">
                                <a id="aAccesoClienteMobil" class="acc_cli visible-xs">Acceso Clientes</a>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 hidden-xs">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="@{
                                        WriteLiteral(DKweb.Codigo.Util.cssActive(Accessor,"index"));
}" href="../home/index">
                                        <h3>INICIO</h3>
                                    </a></li>
                                <li><a class="@{
                                        WriteLiteral(DKweb.Codigo.Util.cssActive(Accessor,"promociones"));
}" href="../home/promociones">
                                        <h3>OFERTAS</h3>
                                    </a></li>

                                <li><a class="empresa hidden-sm @{
                                        WriteLiteral(DKweb.Codigo.Util.cssActive(Accessor,"promociones"));
}" href="../home/empresa">
                                        <h3>EMPRESA</h3>
                                    </a></li>
                                <li><a class=" hidden-sm " href="@{
                                        WriteLiteral(DKweb.Codigo.Util.hrefLinkSucursales(Accessor));
}">
                                        <h3>SUCURSALES</h3>
                                    </a></li>
                                <li><a class=" hidden-sm @{
                                        WriteLiteral(DKweb.Codigo.Util.cssActive(Accessor,"recalls"));
}" href="../home/recalls">
                                        <h3>RECALL</h3>
                                    </a></li>
                                <li><a class="@{
                                        WriteLiteral(DKweb.Codigo.Util.cssActive(Accessor,"contacto"));
}" href="../home/contacto">
                                        <h3>CONTACTO</h3>
                                    </a></li>
                                <li><a class="registracion " href="../home/registracion">
                                        <h3><i class="fa fa-user-plus"></i>REGISTRACI&Oacute;N</h3>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- menu mobile -->
            <nav id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <div class="row sidebar-hdr">
                        <a id="menu-close" href="#" class="toggle">X</a>
                    </div>
                    <div class="clear"></div>
                    <li>
                        <a href="../home/index">INICIO</a>
                    </li>
                    <li>
                        <a href="../home/promociones">OFERTAS</a>
                    </li>
                    <li>
                        <a href="../home/recalls">RECALL</a>
                    </li>
                    <li>
                        <a href="../home/empresa">EMPRESA</a>
                    </li>
                    <li>
                        <a id="menu-close-sucursales" href="@{
                            WriteLiteral(DKweb.Codigo.Util.hrefLinkSucursalesMobile(Accessor));
}">SUCURSALES
                        </a>

                    </li>
                    <li>
                        <a href="../home/contacto">CONTACTO</a>
                    </li>
                    <li>
                        <a href="../home/registracion">REGISTRACI&Oacute;N</a>
                    </li>
                    <div class="separate_hdr"></div>
                    <li style="padding-left: 10px">
                        <img src="../img/home/logos/logo.png" class="img-responsive" height="40px" />
                    </li>
                    <div class="clear20"></div>
                    <li><i class="fa fa-map-marker color_white" style="margin-left: -30px !important"></i>Juan M. Gutierrez
                        2059
                        &bull; S2001DHE </li>
                    <li style="padding-left: 20px; padding-top: 10px">Rosario &bull; Santa Fe &bull; Argentina</li>
                    <li><a href="tel:0341-4203300"><i class="fa fa-phone color_white"></i>0341 4203300 (rotativas)
                            &bull;
                            Fax: 0341 4203377</a></li>
                    <li><i class="fa fa-envelope color_white"></i>info@kellerhoff.com.ar</li>
                </ul>
            </nav>
        </header>



        @RenderBody()


        <footer id="idFooter" class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 padding_left_ftr hidden-xs">
                        <div class="col-xs-12 title_ftr no-padding">
                            <h3>ACCESO CLIENTES</h3>
                        </div>
                        <div>Si todavía no estás registrado, hacé <a class="color_white"
                                href="../home/registracion">click
                                aqu&iacute;</a>.</div>
                        <div class="clear20"></div>

                        <input tabindex="4" name="login_name" id="name_footer" class="form-control form_login_ftr"
                            type="text" placeholder="Usuario" onkeypress="onkeypressIngresarAbajo(event)" />
                        <div class="clear20"></div>
                        <input tabindex="5" name="login_password" id="password_footer"
                            class="form-control form_login_ftr" type="password" placeholder="Contrase&ntilde;a"
                            onkeypress="onkeypressIngresarAbajo(event)" />
                        <div class="clear20"></div>
                        <button class="btn_emp"
                                tabindex="6" 
                                id="botonIniciarSesionAbajo"
                                data-sitekey="reCAPTCHA_site_key" 
                                data-callback='onSubmit' 
                                data-action='submit'>INGRESAR
                        </button>

                    </div>
                    <div class="col-sm-6 col-md-6 visible-md visible-sm ftr_contacto">
                        <div class="col-xs-12 no-padding">
                            <img src="../img/home/logos/logo-ftr.png" />
                        </div>
                        <div class="clear0 visible-md"></div>
                        <div class="col-md-10 no-padding">
                            <div class="clear15"></div>
                            <div class="title_ftr">
                                <h1>DROGUERIA KELLERHOFF S.A.</h1>
                            </div>
                            <div><i class="fa fa-map-marker fa_contacto_ftr"></i>Juan M. Gutierrez 2059</div>
                            <div style="padding-top: 10px; padding-left: 18px;">S2001DHE &bull; Rosario &bull; Santa Fe
                                &bull; Argentina</div>
                            <div class="clear10"></div>
                            <div><i class="fa fa-phone fa_contacto_ftr"></i><a href="tel:0341-4203300">0341 4203300
                                    (rotativas)</a></div>
                            <div class="clear10"></div>
                            <div><i class="fa fa-fax fa_contacto_ftr"></i><a href="tel:0341-4203300">Fax: 0341
                                    4203377</a>
                            </div>
                            <div class="clear10"></div>
                            <div><i class="fa fa-envelope fa_contacto_ftr"></i>info@kellerhoff.com.ar</div>
                        </div>

                        <div class="clear55"></div>
                        <div class="hospitalario">
                            <h1>DK INSTITUCIONALES</h1>
                        </div>
                        <div class="clear10"></div>
                        <div><i class="fa fa-whatsapp fa_contacto_ftr"></i><a href="tel:0341-3631749">0341 3631749 /
                                0341
                                3763270</a></div>
                        <div class="clear10"></div>
                        <div><i class="fa fa-envelope fa_contacto_ftr"></i>dkinstitucional@kellerhoff.com.ar</div>
                        <div class="hospitalario">
                            <h1>ALTO COSTO</h1>
                        </div>
                        <div><i class="fa fa-whatsapp fa_contacto_ftr"></i><a href="tel:0341-6100365">0341 6100365</a>
                        </div>
                    </div>
                    <div class="clear55 visible-sm visible-md"></div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ftr_contacto">
                        <div class="col-xs-12 title_ftr no-padding">
                            <h3>SUCURSALES</h3>
                        </div>

                        <!-- SUCURSAL 1 -->
                        <div class="col-lg-6 col-sm-6 col-xs-12 div_nav_ftr">
                            <div>CHAÑAR LADEADO</div>
                            <div><i class="fa fa-map-marker fa_contacto_ftr"></i>Belgrano 245 &bull; S2139AFE</div>
                            <div><i class="fa fa-phone fa_contacto_ftr"></i><a href="tel:03468-481881">03468-481881
                                    &bull;
                                    (Tel/Fax) 481117</a></div>
                            <div><i class="fa fa-envelope fa_contacto_ftr"></i><a
                                    href="mailto:sucursalchanarladeado@kellerhoff.com.ar">sucursalchanarladeado@kellerhoff.com.ar</a>
                            </div>
                            <div><i class="fa fa-whatsapp fa_contacto_ftr"></i><a href="tel:3468648933">3468 648933</a>
                            </div>
                            <div class="clear15"></div>
                        </div>
                        <!-- FIN SUCURSAL 1 -->

                        <div class="col-lg-6 col-sm-6 col-xs-12 div_nav_ftr">
                            <div>CONCEPCIÓN DEL URUGUAY</div>
                            <div><i class="fa fa-map-marker fa_contacto_ftr"></i>Posadas 976 &bull; E3260ATF</div>
                            <div><i class="fa fa-phone fa_contacto_ftr"></i><a href="tel:03442-423103">03442-423103 y
                                    Rotativas / 03442-427888 (Fax)</a></div>
                            <div><i class="fa fa-envelope fa_contacto_ftr"></i><a
                                    href="mailto:sucursalconcepcion@kellerhoff.com.ar">sucursalconcepcion@kellerhoff.com.ar</a>
                            </div>
                            <div><i class="fa fa-whatsapp fa_contacto_ftr"></i><a href="tel:3442567240">3442 567240</a>
                            </div>
                            <div class="clear15"></div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 div_nav_ftr">
                            <div>CONCORDIA</div>
                            <div><i class="fa fa-map-marker fa_contacto_ftr"></i>25 de Mayo 625 &bull; E3202ALK</div>
                            <div><i class="fa fa-phone fa_contacto_ftr"></i><a href="tel:0345-4222545">0345-4222545
                                    (Tel/Fax)</a></div>
                            <div><i class="fa fa-envelope fa_contacto_ftr"></i><a
                                    href="mailto:sucursalconcordia@kellerhoff.com.ar">sucursalconcordia@kellerhoff.com.ar</a>
                            </div>
                            <div><i class="fa fa-whatsapp fa_contacto_ftr"></i><a href="tel:3442567240">3442 567240</a>
                            </div>
                            <div class="clear15"></div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 div_nav_ftr">
                            <div>CÓRDOBA</div>
                            <div><i class="fa fa-map-marker fa_contacto_ftr"></i>RAYO CORTADO 2275 - Bº EMPALME &bull;
                                X5006IMG</div>
                            <div><i class="fa fa-phone fa_contacto_ftr"></i><a href="tel:0351-5236100">0351-5236100 /
                                    0351-5236111 (PEDIDOS)</a></div>
                            <div><i class="fa fa-envelope fa_contacto_ftr"></i><a
                                    href="mailto:sucursalcordoba@kellerhoff.com.ar">sucursalcordoba@kellerhoff.com.ar</a>
                            </div>
                            <div><i class="fa fa-whatsapp fa_contacto_ftr"></i><a href="tel:3516523189">351 6523189</a>
                            </div>
                            <div class="clear15"></div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 div_nav_ftr">
                            <div>SAN NICOLAS</div>
                            <div><i class="fa fa-map-marker fa_contacto_ftr"></i>Pte Perón 1445 &bull; B2902AGE</div>
                            <div><i class="fa fa-phone fa_contacto_ftr"></i><a href="tel:0336-4443006">0336-4443006</a>
                            </div>
                            <div><i class="fa fa-envelope fa_contacto_ftr"></i><a
                                    href="mailto:sucursalsannicolas@kellerhoff.com.ar">sucursalsannicolas@kellerhoff.com.ar</a>
                            </div>
                            <div class="clear15"></div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 div_nav_ftr">
                            <div>SANTA FE</div>
                            <div><i class="fa fa-map-marker fa_contacto_ftr"></i>Av. Blas Parera 6633 &bull; S3000FCC
                            </div>
                            <div><i class="fa fa-phone fa_contacto_ftr"></i><a href="tel:0342-4587900">0342-4587900 y
                                    Rotativas</a></div>
                            <div><i class="fa fa-envelope fa_contacto_ftr"></i><a
                                    href="mailto:sucursalsantafe@kellerhoff.com.ar">sucursalsantafe@kellerhoff.com.ar</a>
                            </div>
                            <div><i class="fa fa-whatsapp fa_contacto_ftr"></i><a href="tel:3424070448">342 4070448</a>
                            </div>
                            <div class="clear15"></div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 div_nav_ftr">
                            <div>VILLA MARÍA</div>
                            <div><i class="fa fa-map-marker fa_contacto_ftr"></i>Leandro N Alem 330 &bull; X5900JAQ
                            </div>
                            <div><i class="fa fa-phone fa_contacto_ftr"></i><a href="tel:0353-4548519">0353-4548519 /
                                    0353-4546570</a></div>
                            <div><i class="fa fa-envelope fa_contacto_ftr"></i><a
                                    href="mailto:sucursalvillamaria@kellerhoff.com.ar">sucursalvillamaria@kellerhoff.com.ar</a>
                            </div>
                            <div class="clear15"></div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 div_nav_ftr">
                            <div>RÍO CUARTO</div>
                            <div><i class="fa fa-map-marker fa_contacto_ftr"></i>Buenos Aires 254/264 &bull; X5800DIF
                            </div>
                            <div><i class="fa fa-phone fa_contacto_ftr"></i><a href="tel:0358-4633632">0358-4633632 /
                                    4650717 / 4654048 / 4702634</a></div>
                            <div><i class="fa fa-envelope fa_contacto_ftr"></i><a
                                    href="mailto:sucursalriocuarto@kellerhoff.com.arr">sucursalriocuarto@kellerhoff.com.ar</a>
                            </div>
                            <div class="clear15"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12 visible-lg visible-xs ftr_contacto">
                        <div class="line_ftr visible-xs"></div>
                        <div class="col-lg-4 col-md-4 col-xs-12 no-padding">
                            <img src="../img/home/logos/logo-ftr.png" />
                        </div>
                        <div class="col-xs-12 no-padding hidden-md">
                            <div class="clear15"></div>
                            <div class="title_ftr">
                                <h1>DROGUERIA KELLERHOFF S.A.</h1>
                            </div>
                            <div><i class="fa fa-map-marker fa_contacto_ftr"></i>Juan M. Gutierrez 2059</div>
                            <div style="padding-top: 10px; padding-left: 18px;">S2001DHE &bull; Rosario &bull; Santa Fe
                                &bull; Argentina</div>
                            <div class="clear10"></div>
                            <div><i class="fa fa-phone fa_contacto_ftr"></i><a href="tel:0341-4203300">0341 4203300
                                    (rotativas)</a></div>
                            <div class="clear10"></div>
                            <div><i class="fa fa-fax fa_contacto_ftr"></i><a href="tel:0341-4203377">Fax: 0341
                                    4203377</a>
                            </div>
                            <div class="clear10"></div>
                            <div><i class="fa fa-envelope fa_contacto_ftr"></i><a
                                    href="mailto:info@kellerhoff.com.ar">info@kellerhoff.com.ar</a></div>
                            <div class="clear10"></div>
                            <div><i class="fa fa-whatsapp fa_contacto_ftr"></i><a href="tel:3413163291">341 3163291</a>
                            </div>
                            <div class="clear55"></div>
                            <div class="hospitalario">
                                <h1>DK INSTITUCIONALES</h1>
                            </div>
                            <div class="clear10"></div>
                            <div><i class="fa fa-whatsapp fa_contacto_ftr"></i><a href="tel:0341-3631749">0341 3631749 /
                                    0341 3763270</a></div>
                            <div class="clear10"></div>
                            <div><i class="fa fa-envelope fa_contacto_ftr"></i>dkinstitucional@kellerhoff.com.ar</div>
                            <div class="clear55"></div>
                            <div class="hospitalario">
                                <h1>ALTO COSTO</h1>
                            </div>
                            <div class="clear10"></div>
                            <div><i class="fa fa-whatsapp fa_contacto_ftr"></i><a href="tel:0341-6100365">0341
                                    6100365</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="container-fluid footer_legales">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-5 col-xs-12 padding_left_ftr ftr_contacto">
                    <div class="clear15"></div>
                    <p class="p_11 color_white hidden-xs">&copy; @{
                            WriteLiteral(DateTime.Now.Year.ToString());
                        }
                        Droguer&iacute;a Kellerhoff. Todos los derechos reservados</p>
                    <div class="popup-button">
                        <span>Términos y Condiciones</span>
                    </div>
                </div>

                <div class="col-lg-8 col-md-6 col-sm-7 padding_left_ftr ftr_contacto padding_firma">
                    <table border="0" cellspacing="0" cellpadding="0" class="hidden-xs">
                        <tr>
                            <td align="right" class="ftr_firma">Desarrollo&nbsp;&nbsp;&nbsp;</td>
                            <td>
                                <a style="display: inline-block; width: auto; margin-top: 7px;" class="float-left"
                                    href="http://www.nativosistemas.com.ar/" target="_blank" title="Nativo Sistemas">
                                    <img src="../img/home/logos/nativo.png" height="28px" /></a>

                            </td>
                            <td align="center" class="ftr_firma">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td align="right" class="ftr_firma">Diseño</td>
                            <td><a class="mtz" href="http://mestizosweb.com/" target="_blank"
                                    title="Mestizos Comunicaci&oacute;n"></a></td>
                        </tr>
                    </table>
                    <div class="col-xs-12 text-center visible-xs">
                        <a href="http://www.nativosistemas.com.ar/" target="_blank" title="Nativo Sistemas">
                            <img src="../img/mvc/logos/nativo.png" style="height: 28px;" /></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="overlay-tyc"></div>
            <div class="popup-tyc">
                <h2 class="titulo-popup">Términos y Condiciones</h2>
                <p class="titulo-popup"><strong>Aviso de privacidad</strong></p>
                <p>El fin del presente es que usted pueda comprender la información que 
                recopilamos, los fines y derechos que tiene con respecto a la utilización de sus 
                datos personales en Droguería Kellerhoff S.A (“Droguería Kellerhoff”) y en 
                particular dentro del sitio www.kellerhoff.com.ar (En adelante, el “sitio”).</p>
                <p>El acceso y navegación a través del sitio implica adhesión total y sin reservas de 
                los usuarios a todos y cada uno de los términos y condiciones determinados en el 
                presente escrito, en caso de no estar de acuerdo en forma total, le solicitamos por 
                favor que no acceda a la plataforma.</p>
                <p>Droguería Kellerhoff conserva el derecho de modificar los términos y condiciones 
                de uso de la plataforma, sin aviso previo ni responsabilidad alguna. Dichas 
                modificaciones entrarán en vigor desde el momento mismo de su publicación en 
                el sitio.</p>
                <p class="titulo-popup"><strong>Responsabilidad del usuario</strong></p>
                <p>El sitio contiene datos e información comercial de los productos como stock, 
                precios y condiciones de venta, entre otros. El usuario reconoce y acepta que el 
                sitio es de uso exclusivo para los usuarios y que la información es confidencial y 
                de propiedad exclusiva de Droguería Kellerhoff.</p>
                <p>Son usuarios del sitio (en adelante “usuarios”), todas aquellas personas humanas 
                o jurídicas que accedan y utilicen el sitio.</p>
                <p>El usuario se obliga a:</p>
                <ul>
                    <li>Guardar la más estricta confidencialidad respecto a la información;</li>
                    <li>No ceder a terceros la información;</li>
                    <li>No permitir a terceros el acceso a la información;</li>
                    <li>Utilizar el sitio y/o la información única y exclusivamente en forma personal y 
                para realizar la compra o reserva de los productos</li>
                    <li>No informar, ceder, transferir, vender las credenciales de acceso a terceros, 
                asumiendo toda responsabilidad por el incumplimiento de ello.</li>
                    <li>No extraer contenidos del sitio, acceder ilegalmente al sitio, o realizar ingeniería 
                inversa.</li>
                    <li>No utilizar bots, rastreadores, scripts, virus, gusanos o cualquier otro código 
                informático, archivos, programas o procesos automatizados, extractores de 
                contenido u otros medios automatizados para acceder o recopilar datos u otro 
                contenido del sitio o interactuar de otro modo con él.</li>
                    <li>No acceder ilegalmente, evitar, eliminar, eludir cualquier medida de seguridad 
                utilizada para proteger el contenido del sitio.</li>
                    <li>No utilizar el nombre, el logotipo, la marca registrada o las marcas comerciales 
                del sitio.</li>
                    <li>No utilizar, registrar ningún dominio, nombre de usuario de redes sociales, 
                nombre comercial, marca comercial, logotipo u otro identificador de origen que 
                pueda confundirse con la marca del sitio.</li>
                </ul>
                <p>La enumeración anterior tiene carácter meramente enunciativo. Sin perjuicio de 
                los recursos legales que correspondan, en caso de infracción, conductas dolosas 
                o fraudulentas, Droguería Kellerhoff se reserva el derecho de cancelar el registro y 
                dar de baja a cualquier usuario. En cualquiera los supuestos, el usuario no tendrá 
                derecho a realizar reclamo indemnizatorio.</p>
                <p class="titulo-popup"><strong>Uso de los datos</strong></p>
                <p>Se entienden por “datos personales” toda información de cualquier tipo a usted 
                referida, como su nombre, domicilio o documento nacional de identidad. 
                Se entienden por “datos sensibles” aquellos que revelan su origen racial y étnico, 
                opiniones políticas, convicciones religiosas, filosóficas o morales, afiliación 
                sindical e información referente a su salud o a su vida sexual. Usted no puede ser 
                obligado a proporcionar datos sensibles.</p>
                <p>El sitio efectúa un uso responsable de la información personal suministrada por el 
                usuario en base a las disposiciones de la ley de protección de datos personales 
                (ley n° 25.326) y normas complementarias.</p>
                <p>Al aceptar los presentes términos y condiciones, el usuario presta su 
                consentimiento expreso para que el sitio recopile, trate y utilice sus datos 
                personales. El sitio se limitará a recopilar, procesar y utilizar aquellos datos que 
                resulten necesarios para la prestación de sus servicios.</p>
                <p class="titulo-popup"><strong>Captura de datos personales</strong></p>
                <p>El objetivo de obtener esta información es conocer los intereses y las preferencias 
                de quienes visitan el sitio para poder mejorar y crear una experiencia
                personalizada.</p>
                <p>El registro de datos puede incluir:</p>
                <ul>
                    <li>Información de los dispositivos o computadoras desde los que el usuario 
                accede al sitio.</li>
                    <li>Tipo o versión del navegador o del sistema operativo, configuraciones, 
                datos de conexión, información sobre algunas de las aplicaciones 
                descargadas y parámetros.</li>
                    <li>La página web que se visita antes de acceder al sitio.</li>
                    <li>Direcciones de IP.</li>
                    <li>Información sobre la actividad de los usuarios dentro del sitio. A modo de 
                ejemplo: las búsquedas realizadas, las páginas visitadas dentro del sitio, 
                filtros utilizados.</li>
                    <li>Información sobre ubicación (geolocalización).</li>
                </ul>
                <p>En ningún caso se obtendrá un beneficio comercial a partir de los datos 
                personales recopilados.</p>
                <p class="titulo-popup"><strong>Uso de cookies y otras tecnologías</strong></p>
                <p>El usuario reconoce y acepta que el sitio, podrá utilizar un sistema de seguimiento 
                de conducta mediante la utilización de “cookies” y/u otras tecnologías similares 
                de seguimiento.</p>
                <p>Los tipos de cookies que podrá utilizar el sitio son las siguientes:</p>
                <ul>
                    <li>Necesarias: Aseguran de forma anónima funcionalidades básicas y 
                características de seguridad del sitio web.</li>
                    <li>Funcionales: Facilitan la mejor experiencia de la navegación.</li>
                    <li>De rendimiento: Su fin es comprender y analizar los índices de 
                rendimiento clave del sitio web para realizar mejoras en la experiencia del 
                usuario.</li>
                    <li>Analíticas: Su fin es comprender cómo los visitantes interactúan con el 
                sitio web.</li>
                    <li>Publicitarias: Su fin es ofrecer a los visitantes anuncios y campañas de 
                marketing personalizadas.</li>
                    <li>Otras.</li>
                </ul>
                <p>El sitio no puede acceder a otra información almacenada en el dispositivo a través 
                de las cookies.</p>
                <p class="titulo-popup"><strong>Almacenamiento y seguridad</strong></p>
                <p>Los datos personales recolectados por Droguería Kellerhoff podrán ser 
                almacenados en argentina o en cualquier lugar que Droguería Kellerhoff tenga 
                servicios de almacenamiento propios o de terceros contratados.</p>
                <p>Por ello, sus datos personales podrán ser transferidos y tratados dentro y fuera 
                del país, en cuyo caso dicha transferencia se realizará en cumplimiento a lo 
                establecido en este aviso de privacidad y de acuerdo con la normativa vigente de 
                la república argentina, siempre priorizando los países considerados adecuados 
                en la resolución n ° 34/2019 de la agencia de acceso a la información pública.</p>
                <p>Sólo almacenaremos sus datos personales durante el tiempo que fuere razonable
                según el propósito para el que se han recopilado originalmente o para cumplir con 
                la normativa del país donde opere el sitio.</p>
                <p class="titulo-popup"><strong>Transferencia a terceros</strong></p>
                <p>Las transferencias de datos o información hacia terceros se realizarán bajo los 
                estándares de nuestra política de protección de datos y los términos y 
                condiciones de este presente escrito, las mismas solo podrán ser bajo necesidad 
                comercial legítima de Droguería Kellerhoff.</p>
                <p>En el caso que Droguería Kellerhoff tomará conocimiento de que un tercero está 
                usando o divulgando datos personales de una manera contraria a su política de 
                protección de datos tomará las medidas razonables para prevenir y detener el uso 
                o la divulgación de dichos datos de manera inmediata.</p>
                <p class="titulo-popup"><strong>Derecho de acceso, rectificación, actualización o supresión</strong></p>
                <p>Usted tiene el derecho de acceder a los datos personales que poseemos 
                vinculados a usted y a los detalles del tratamiento de los mismos, así como a 
                rectificarlos en caso de ser inexactos, o bien solicitarnos su eliminación cuando 
                resulten excesivos o innecesarios para las finalidades que justificaron su captura, 
                como así también tiene derecho a oponerse al tratamiento de estos para fines 
                específicos.</p>
                <p>El derecho de acceso a la información personal podrá ser ejercido por el 
                interesado en intervalos no inferiores a seis meses, salvo acreditación de interés 
                legítimo al efecto según el artículo 14 de la ley de protección de datos personales.</p>
                <p>Los mecanismos que Droguería Kellerhoff ha implementado para el ejercicio de 
                dichos derechos son:</p>
                <ul>
                    <li>A través de la presentación de la solicitud respectiva vía correo electrónico 
                a reclamos@kellerhoff.com.ar con el asunto “datos personales web”, 
                informando el motivo del contacto y acreditando identidad.</li>
                </ul>
                <p class="titulo-popup"><strong>Responsable del tratamiento de la información personal</strong></p>
                <p>El responsable del archivo de datos es Droguería Kellerhoff S.A. Cuit 30-
                53975649-0 con domicilio en Juan M. Gutierrez 2059 – ciudad de Rosario, Santa Fe.</p>
                <p class="titulo-popup"><strong>Modificaciones de los términos y condiciones</strong></p>
                <p>Droguería Kellerhoff se reserva la facultad de actualizar o modificar los presentes 
                términos y condiciones, en cualquier momento, sin necesidad de aviso previo, los 
                cuales estarán vigentes a partir de publicación en el sitio.</p>
                <p class="titulo-popup"><strong>Ley aplicable y jurisdicción</strong></p>
                <p>El presente aviso de privacidad se regirá por las leyes de la república argentina. En 
                caso de controversia, relacionada con la interpretación, validez, celebración o 
                cumplimiento de esta, las partes (el usuario y Droguería Kellerhoff) se someterán 
                a la jurisdicción de los tribunales ordinarios de la ciudad de Rosario, renunciando 
                a cualquier otro fuero o jurisdicción.</p>


                <span class="close-popup" onclick="cerrarPopup()">Cerrar</span>
            </div>



        <a class="buttonontop" title="Subir" href="#"><i class="fa fa-caret-up"></i></a>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h3 class="color_emp_nd">ACCESO CLIENTES</h3>
                    </div>
                    <div class="modal-body">
                        <p>Para agregar al carrito, por favor inicie sesi&oacute;n.</p>
                        <input tabindex="7" name="login_name" id="name_carrito" class="form-control" type="text"
                            placeholder="Usuario (*)" value=""
                            onkeypress="onkeypressIngresarDesdeAgregarCarrito(event)" />
                        <div class="clear20"></div>
                        <input tabindex="8" name="login_password" id="password_carrito" class="form-control"
                            type="password" placeholder="Contrase&ntilde;a (*)" value=""
                            onkeypress="onkeypressIngresarDesdeAgregarCarrito(event)" />
                        <div class="clear20"></div>
                        <div class="oblig float-left" style="margin-top: 10px">(*) Campos obligatorios</div>
                        <button tabindex="9" class="btn_emp float-right" type="submit"
                            onclick="onclickIngresarDesdeAgregarCarrito(); return  false;">INGRESAR</button>
                        <div class="clear20"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--fin Modal content-->
    <script type="text/javascript">
        $("#menu-close").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        // Opens the sidebar menu
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        $("#menu-close-sucursales").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
            location.href = 'index.aspx#idFooter';
            return false;
        });
        $("#aAccesoClienteMobil").click(function (e) {
            IngresarDsdMobil();
            return false;
        });

        $('#myModal').on('shown.bs.modal', function () {
            $('#name_carrito').focus();
        });

    </script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LeVNeQoAAAAAB8BX4-pJCSwCfdS7iWes-JQWhJe"></script>
    <script>
        // Función para ejecutar reCAPTCHA v3
        document.getElementById('botonIniciarSesion').addEventListener('click', function () {
            event.preventDefault();
            onclickIngresar();
        });
    </script>
        <script>
        // Función para ejecutar reCAPTCHA v3 abajo
        document.getElementById('botonIniciarSesionAbajo').addEventListener('click', function () {
            event.preventDefault();
            onclickIngresarAbajo();
        });
        </script>

    <script>
        function onSubmit(token) {
            document.getElementById("demo-form").submit();
        }
    </script>
            <script>
            // Función para abrir el popup
            function abrirPopup() {
                document.querySelector('.overlay-tyc').style.display = 'block';
                document.querySelector('.popup-tyc').style.display = 'block';
            }

            // Función para cerrar el popup
            function cerrarPopup() {
                document.querySelector('.overlay-tyc').style.display = 'none';
                document.querySelector('.popup-tyc').style.display = 'none';
            }

            // Agregar el evento clic al botón
            document.querySelector('.popup-button').addEventListener('click', abrirPopup);
            document.querySelector('.overlay-tyc').addEventListener('click', function(event) {
        if (event.target === this) {
            cerrarPopup();
        }
    });
        </script>
</body>

</html>
