@inject IHttpContextAccessor Accessor
@{
    string classMensajes = "";
    string classPerfil = "";
    string classUsuarios = "";
    string strController = Accessor.HttpContext.GetRouteValue("action").ToString();
    switch (strController)
    {
        case "mensajes":
            classMensajes = " class=\"active\" ";
            break;
        case "perfil":
            classPerfil = " class=\"active\" ";
            break;
        case "usuarios":
            classUsuarios = " class=\"active\" ";
            break;
        default:
            break;
    }

}
<div class="row">
    <div class="col-xs-12">
        <div class="nav_sec">
            @{
                if (DKweb.Codigo.Util.IsUsuariosDK(Accessor))
                {
                    <a href="/config/mensajes" @{ WriteLiteral(classMensajes);}><i class="fa fa-envelope" title="MENSAJES"></i><span class="hidden-sm hidden-xs">MENSAJES</span></a>
                    <div class="separate"></div>
    }
            }
            <a href="/config/perfil" @{ WriteLiteral(classPerfil);}><i class="fa fa-key" title="CONTRASEÑA"></i><span class="hidden-sm hidden-xs">CONTRASEÑA</span></a>
            @{
                if (DKweb.Codigo.Util.IsUsuariosDK(Accessor) && !DKweb.Codigo.Util.IsUsuariosOPERADORCLIENTE(Accessor))
                {
                    <div class="separate"></div>
                    <a href="/config/usuarios" @{ WriteLiteral(classUsuarios);}><i class="fa fa-users" title="USUARIOS"></i><span class="hidden-sm hidden-xs">USUARIOS</span></a>
    }
            }
        </div>
    </div>
</div>