
<div style="text-align:left;font-size:18px;font-weight:bold; ">
    Lo sentimos.
</div>

<div style="text-align: left; font-size: 16px;">
    Esta operación no puede realizarse. Comuníquese con el Sector Cuentas Corrientes.
</div>

