@Html.Partial("_nav_mediosdepago")

<div class="row">
    <div class="col-xs-12">
        <div class="div_cont_pagos deposito">
            <div class="d_deposivo"><p>Este sistema le permite hacer sus pagos en cualquier terminal de autoservicio de las redes</p></div><img src="../img/mvc/link.jpg" class="img-responsive float-left" /><div class="d_deposivo o"><p>o</p></div><img src="../img/mvc/banelco.jpg" class="img-responsive float-left img_banelco" />
            <div class="clear25"></div>
            <p class="color_emp_st"><b>BENEFICIOS DEL SISTEMA:</b></p>
            <p><i class="fa fa-check i_list_20"></i>Pueden efectuarse fuera de los horarios bancarios.</p>
            <p><i class="fa fa-check i_list_20"></i>No necesita enviar el comprobante, ya que el banco informa dentro de las 24 hs hábiles.</p>
            <div class="clear25"></div>
            <div class="div_destacado text-center">Para solicitar la tarjeta le pedimos que se comunique con el Sector Cuentas Corrientes.</div>
            <div class="clear0"></div>
        </div>
    </div>
</div>