@Html.Partial("_nav_mediosdepago")

<div class="row">
    <div class="col-xs-12">
        <div class="div_cont_pagos">
            <p class="text-center">Nuevo servicio que permite vincular el sistema de venta con tarjetas de crédito y débito directamente con las cuentas bancarias de Droguería Kellerhoff.</p>
            <div class="clear25"></div>
            <p class="color_emp_st"><b>BENEFICIOS DEL SISTEMA:</b></p>
            <p><i class="fa fa-check i_list_20"></i>Nueva alternativa de cobro, que incrementa las posibilidades de venta.</p>
            <p><i class="fa fa-check i_list_20"></i>No es necesario contar con cuentas bancarias propias, con lo cual se reducen los costos fijos derivados de su mantenimiento.</p>
            <p><i class="fa fa-check i_list_20"></i>Reduce los costos por manejo de documentos y efectivo, y brinda mayor seguridad.</p>
            <p><i class="fa fa-check i_list_20"></i>Recibe en forma mensual todas las liquidaciones de tarjetas y sus respectivos certificados de retención impositiva.</p>
            <p><i class="fa fa-check i_list_20"></i>Cuenta con la posibilidad de participar en el programa de Beneficios Credicoop, con promociones en forma permanente o por un período de tiempo.</p>
            <p><i class="fa fa-check i_list_20"></i>Puede acelerar los plazos de cobro adhiriéndose al Pago Expreso de cupones.</p>
            <div class="clear25"></div>
            <p class="color_emp_st"><b>TARJETAS HABILITADAS:</b></p>
            <div class="clear15 visible-xs"></div>
            <div class="col-lg-1 col-sm-2 col-xs-6"><img src="../img/mvc/cabal.jpg" class="img-responsive" /></div>
            <div class="col-lg-1 col-sm-2 col-xs-6"><img src="../img/mvc/visa.jpg" class="img-responsive" /></div>
            <div class="clear15 visible-xs"></div>
            <div class="col-lg-1 col-sm-2 col-xs-6"><img src="../img/mvc/mastercard.jpg" class="img-responsive" /></div>
            <div class="col-lg-1 col-sm-2 col-xs-6"><img src="../img/mvc/argencard.jpg" class="img-responsive" /></div>
            <div class="clear15 visible-xs"></div>
            <div class="col-lg-1 col-sm-2 col-xs-6"><img src="../img/mvc/lider.jpg" class="img-responsive" /></div>
            <div class="col-lg-1 col-sm-2 col-xs-6"><img src="../img/mvc/diners_club.jpg" class="img-responsive" /></div>
            <div class="clear15 visible-xs"></div>
            <div class="clear15 visible-sm visible-md"></div>
            <div class="col-lg-1 col-sm-2 col-xs-6"><img src="../img/mvc/naranja.jpg" class="img-responsive" /></div>
            <div class="col-lg-1 col-sm-2 col-xs-6"><img src="../img/mvc/tarjeta_shopping.jpg" class="img-responsive" /></div>
            <div class="clear15 visible-xs"></div>
            <div class="col-lg-1 col-sm-2 col-xs-6"><img src="../img/mvc/nevada.jpg" class="img-responsive" /></div>
            <div class="clear25"></div>
            <div class="div_destacado text-center">Para solicitar este servicio le pedimos que se comunique con el Sector Cuentas Corrientes.</div>
            <div class="clear0"></div>
        </div>
    </div>
</div>