@Html.Partial("_nav_mediosdepago")



        <div class="row">
            <div class="col-xs-12">
                <div class="div_cont_pagos">
                    <p class="col-xs-12 text-center">Esta modalidad versátil le permite hacer sus pagos sin necesidad de enviar los comprobantes, ya que el Banco dentro de las 24/48 hs. de realizada la operación nos envía la información necesaria para acreditarlo.</p>
                    <div class="clear25"></div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-left d_recaudatorio">
                        <img src="../img/mvc/macro.png" class="img-responsive" />
                        <div class="clear10"></div>
                        <p class="color_emp_st"><b>Pago Previo</b></p>
                        <ul class="ul_bancos">
                            <li>Por TAS (Terminal autoservicio).</li>
                            <li>Por ventanilla.</li>
                            <li>Por transferencia electrónica.</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-left d_recaudatorio">
                        <img src="../img/mvc/credicoop.png" class="img-responsive" />
                        <div class="clear10"></div>
                        <p class="color_emp_st"><b>Cobranzas por facturas</b></p>
                        <ul class="ul_bancos">
                            <li>Por TAS (Terminal autoservicio).</li>
                            <li>Por ventanilla.</li>
                            <li>Por transferencia electrónica.</li>
                        </ul>
                    </div>
                    @*<div class="clear25 visible-sm"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-left d_recaudatorio">
            <img src="../img/mvc/galicia.png" class="img-responsive" />
            <div class="clear10"></div>
            <p class="color_emp_st"><b>Cobranzas integrada.</b></p>
            <ul class="ul_bancos">
                <li>Por ventanilla.</li>
                <li>Autoservicio.</li>
            </ul>
        </div>*@
                    <div class="clear25 visible-md"></div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-left d_recaudatorio">
                        <img src="../img/mvc/nacion.png" class="img-responsive" />
                        <div class="clear10"></div>
                        <p class="color_emp_st"><b>Cuenta recaudadora.</b></p>
                        <ul class="ul_bancos">
                            <li>Por ventanilla.</li>
                        </ul>
                    </div>
                    @*<div class="clear25 visible-sm"></div>
        <div class="clear25 visible-lg"></div>*@
                    <div class="clear25 visible-md"></div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-left d_recaudatorio">
                        <img src="../img/mvc/hsbc.png" class="img-responsive" />
                        <div class="clear10"></div>
                        <p class="color_emp_st"><b>Sistema integral de recaudaciones.</b></p>
                        <ul class="ul_bancos">
                            <li>Por TAS (Terminal autoservicio).</li>
                            <li>Por ventanilla.</li>
                            <li>Por transferencia electrónica.</li>
                            <li>Por cajero automatico.</li>
                        </ul>
                    </div>
                    <!--<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-left d_recaudatorio">
        <img src="../img/mvc/patagonia.png" class="img-responsive" />
        <div class="clear10"></div>
        <p class="color_emp_st"><b>Cuenta recaudadora.</b></p>
        <ul class="ul_bancos">-->
                    @*<li>Por TAS (Terminal autoservicio).</li>*@
                    <!--<li>Por ventanilla.</li>
        </ul>
    </div>-->

                    <div class="clear0"></div>

                </div>
            </div>
        </div>
<div class="div_gris">
    Todos estos sistemas requieren de alta previa, le pedimos por favor que se comunique con el Sector Cuentas Corrientes para efectuar la misma.
</div>