<div><strong>Lo sentimos,</strong></div>
<div>Esta operación no puede realizarse. Comuniquese con el sector Cuentas Corrientes.
</div>
<div style="margin: 0px auto; width:256px;">
    <img title="acceso denegado" alt="acceso denegado" src="../../img/varios/accesoDenegado.png" />
</div>