@inject IHttpContextAccessor Accessor
@Html.Partial("_nav_ctacte")
@section Scripts{
    @Html.Partial("_scriptsCompocisionSaldos")
    <script type="text/javascript">
    jQuery(document).ready(function () {
        CargarHtmlPanel_nav_composicionsaldos();
        CargarHtmlResumenAbierto();
    });

    </script>
}
@section sectionHidden{
    @Html.Partial("_hiddenComposicionSaldo")
@{
    string resultado_sub = string.Empty;
   DKbase.web.capaDatos.cClientes oCliente = DKweb.Codigo.Util.getSessionCliente(Accessor);
    if (oCliente != null)
    {
       DKbase.dll.cDllRespuestaResumenAbierto objResumenAbierto = DKbase.Util.ObtenerResumenAbierto(oCliente.cli_login);
        if (objResumenAbierto != null)
        {
            resultado_sub += "<input type=\"hidden\" id=\"hiddenListaResumenAbierto\" value=\"" +  System.Net.WebUtility.HtmlEncode(DKbase.generales.Serializador_base.SerializarAJson(objResumenAbierto)) + "\" />";
        }
    }
    WriteLiteral(resultado_sub);
}
}

<div class="row">
    @Html.Partial("_nav_composicionsaldos")
    <div id="divResultadoResumenAbierto"  class="col-xs-12">
    </div>
</div>
