@inject IHttpContextAccessor Accessor
@Html.Partial("_nav_ctacte")

@section Scripts{
    @Html.Partial("_scriptsCtacte")

    <script type="text/javascript">
        jQuery(document).ready(function () {
            if (listaDeudaVencida == null) {
                listaDeudaVencida = eval('(' + $('#hiddenListaDeudaVencida').val() + ')');
                if (typeof listaDeudaVencida == 'undefined') {
                    listaDeudaVencida = null;
                }
            }
            if (listaSaldoSinImputar == null) {
                listaSaldoSinImputar = eval('(' + $('#hiddenListaSaldoSinImputar').val() + ')');
                if (typeof listaSaldoSinImputar == 'undefined') {
                    listaSaldoSinImputar = null;
                }
            }
            //CargarHtmlDeudaVencida();
            CargarHtmlSaldoSinImputar();
        });
        document.addEventListener('DOMContentLoaded', function() {
        onclickDeudaVencida();
        });
    </script>

}

<div id="deudaVencidaPrint" class="row">
    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
        <div class="padding_l-10 pad_7 tit_secund">DEUDA VENCIDA</div>
    </div>
    <div id="divResultadoDeudaVencida" class="col-xs-12" style="padding-top: 20px;"></div>
    <div class="clear5 visible-xs"></div>
    @* <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 text-right">
        <a class="btn_download float-right noImprimir" href="../../servicios/generarCSV.aspx?t=deudaVencida"
            data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Descargar en Excel">EXCEL</a>
        <a class="btn_print float-right noImprimir" href="#" onclick="printDiv('deudaVencidaPrint'); return false;"
            data-toggle="tooltip" data-placement="bottom" title="">IMPRIMIR</a>

    </div> *@
    <div class="clear20 hidden-xs"></div>
    <div class="clear10 visible-xs"></div>
    <div id="divContenedorDeudaVencida" class="col-xs-12">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
        <div class="padding_l-10 pad_7 tit_secund">CR&Eacute;DITOS SIN IMPUTAR</div>
    </div>
    <div class="clear5 visible-xs"></div>
    @* <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 text-right">
        <a class="btn_download float-right noImprimir" href="../../servicios/generarCSV.aspx?t=saldoSinImputar"
            data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Descargar en Excel">EXCEL</a>
    </div>
    <div class="clear20 hidden-xs"></div>
    <div class="clear10 visible-xs"></div>
    <div id="divContenedor_creditos_sinimputar" class="col-xs-12">
    </div> *@
</div>