@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128|Libre+Barcode+39&display=swap');

.footer {
    background-color: #ededed;
    height: 100%;
}
/*body {
background-color: #ededed;
}
header {
padding:0px;
}*/
.div_pop-over {
    z-index: 1;
    display: none;
}

.tdNombreProducto {
    cursor: pointer;
}

#divPaginador {
    float: right;
}

mark {
    background-color: #f9f996;
}

#divContenedorBaseCuentaRegresiva {
    display: none;
}

#divCargandoContenedorGeneralFondo {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    filter: alpha(opacity=50);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5;
}

.centerLoading {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px; /* half width*/
    margin-top: -16px; /* half height*/
}

.titleConfirmar {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    font-weight: bold;
    margin-bottom: 0.3em;
}

.errorFilaTransfer {
    color: red !important;
    margin-left: 87px !important;
}
/* modal celular*/
@media (max-width:767px) {
    /*body.modal-open > .wrapCelular {
        display: none;
    }*/
    body.modal-open-Celular > .wrapCelular {
        display: none;
    }

    a.btn_confirmar {
        margin-right: 12px;
    }
}

/* fin modal celular */
#divNoHayCarritos {
    font-family: Lato,sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: red;
    text-align: center;
    text-transform: uppercase;
    display: none;
}
/* ---------------------------------------------- */

/*.table-SubirArchivo tbody  {
    display: block;
    max-height: 55vh;
    overflow-y: scroll;
}*/
.tableTheadSubirPedido {
    margin-bottom: 0px;
}

/*.table-SubirArchivoTbody {
      display: block;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 1200px;
}*/
.divSubirPedido {
    max-height: 55vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.divSubirPedidoCabezaPie {
    overflow-y: scroll;
    overflow-x: hidden;
}

@media (max-width:767px) {
    .div_carrito .div_carrito_cont {
        overflow-y: auto !important;
    }
}

.div_subirpedido .div_tblsubirpedido_cont {
    max-height: 300px;
}

.div_gris {
    margin: 20px 0;
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    padding: 10px 20px;
    background-color: #444449;
    color: #fff !important;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

@media (max-width:767px) {
    .div_gris {
        padding-left: 0%;
        padding-right: 0%;
    }
}
/*.col-item .photo a .bg_promo {
  z-index: 0;
}*/
.PideSemana_false {
    display: none;
}

.RangoFechaObraSocial {
    display: none;
}

.siImprimir {
    display: none;
}

@media print {
    .noImprimir {
        display: none !important;
    }

    .siImprimir {
        display: block;
    }
}

.detalleTransferModoCelular {
    color: #66abd8 !important;
}

.pt_debitos {
    margin-top: 8px;
    width: 13px;
    height: 13px;
    display: inline-block;
    float: left;
    margin-right: 3px;
    border-radius: 6px;
    background-color: #b6fdb0;
}

    .pt_debitos.pt_buscador {
        float: right;
        margin-top: 0;
    }
/*.row_debitos td {
    color: #1b82c5!important;
    font-weight: bold!important;
        background-color: #1b82c5!important;
}
.row_debitos td div {
    color: #1b82c5!important;
    font-weight: bold!important;
}*/
.table > tbody > tr.row_debitos {
    background-color: #b6fdb0 !important;
}

.imgPopUp {
    /*margin-left: 5%;
    width:90%;*/
    /*width:100%;*/
}

.modal-popUp {
}

@media (max-width:1024px) {
    .imgPopUp {
        width: 90%;
    }
}

.divContenedorPopUp {
    text-align: center;
}

#sidebar-wrapper {
    display: none;
}

    #sidebar-wrapper.active {
        display: block;
    }
/*.form-control.buscador {
    width: 96%;
}*/
.cssInputNoMostrar {
    display: none;
}


.cmbCliente {
    text-align-last: center !important;
    height: 50px !important;
}

.select2-container--default .select2-selection--single {
    border: none !important;
    border-radius: 0 !important;
    text-align: center !important;
    height: 50px !important;
}

    .select2-container--default .select2-selection--single:focus {
        outline-width: 0 !important;
        height: 50px !important;
    }

.btnFarmashow {
    margin-top: 30px !important;
    background: #2ECC71 !important;
    color: black !important;
}

    .btnFarmashow:hover,
    .btnFarmashow:focus,
    .btnFarmashow:active,
    .btnFarmashow:window-inactive,
    .btnFarmashow:visited {
        margin-top: 30px !important;
        background: #2ECC71 !important;
        color: black !important;
    }

    .btnFarmashow h3 {
        padding: 15px !important;
        color: black !important;
    }

.navbar-inverse .btnFarmashow {
    margin-top: 14px !important;
}

.TitleCliente {
    text-align: center;
    background: white;
    height: 40px;
    line-height: 40px;
    margin: 0;
    font-weight: 600;
}

.msjList {
    list-style: none;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 30px;
}

    .msjList:nth-child(even) {
        background: #f1f1f1;
    }

.lotesList {
    list-style: none;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.headerlotesList {
    list-style: none;
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.fven {
    float: right;
}

.lotesList:nth-child(even) {
    background: #f1f1f1;
}

#divPanelNroComprobante {
    padding-bottom: 10px;
    /*border-bottom: 1px solid #999;*/
    margin-bottom: 1em;
}

    #divPanelNroComprobante input, #divPanelNroComprobante select {
        margin-bottom: 15px !important;
    }

.tablaDevoluciones thead tr th {
    padding: 11px 5px !important;
    border-right: 1px solid #cecece;
    vertical-align: middle;
    font-weight: 400 !important;
    font-size: 11px !important;
    line-height: 11px;
    color: #fff !important;
    border-bottom: none !important;
}

    .tablaDevoluciones thead tr th:last-child {
        border-right: none !important;
    }

.tablaDevoluciones {
    border-bottom: 2px solid #34495e;
}

.botonera_dev {
    background: #fff;
    padding: 1em;
}


.tablaDevoluciones td {
    font-size: 12px !important;
}

    .tablaDevoluciones td .label {
        font-size: 11px !important;
    }

.refresh-input {
    margin-top: 1em;
}

#form_reclamos {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.SaldoFinalADiciembreH4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #1b82c5;
    text-align: center;
    text-transform: uppercase;
}

.SaldoFinalADiciembreH5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #1b82c5;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .vtos-sm {
        display: none !important;
    }
}

.nav li.nuevo a h3 {
    color: forestgreen;
}

.nuevo {
    margin-left: 60px !important;
}

.nav li.nuevo a h3::before {
    content: '';
    background-image: url(/archivos/new2.png);
    width: 58px !important;
    height: 18px;
    position: absolute;
    left: -60px;
    top: -2px;
}

.nuevo-sublink::after {
    content: '';
    background-image: url(/archivos/new2.png);
    width: 58px !important;
    height: 18px;
    position: absolute;
    margin-left: 10px;
    top: 10px;
}

.sidebar-nav li a.nuevo-celu::after {
    content: '';
    background-image: url(/archivos/new.png);
    width: 58px !important;
    height: 18px;
    position: relative;
    display: inline-block;
    left: 10px;
}

.badge-danger {
    background-color: #e74c3c !important;
    font-weight: 100;
    font-size: 16px !important;
}

@media (min-width : 768px) {
    .badge-danger {
        background-color: #e74c3c !important;
        font-weight: 100;
        font-size: 12px !important;
    }
}

header .nav li {
    margin-right: 15px !important;
    padding: 0;
    width: auto !important;
}

.box {
    background: white;
    padding: 1em;
    border-radius: 0.2rem;
}

.chk-filtros {
    height: 17px !important;
    margin-right: 10px !important;
    margin-top: 2px !important;
    float: left !important;
}

.nav.nav-tabs {
    margin-bottom: 10px !important;
    border-bottom: 1px solid darkgrey;
}

    .nav.nav-tabs li {
        padding: 0 !important;
        margin-bottom: -1px !important;
    }

        .nav.nav-tabs li .active {
            border: 1px solid darkgrey;
            /*background: ;*/
            color: steelblue !important;
            border-bottom-color: #ededed !important;
        }

        .nav.nav-tabs li a:hover {
            background: #ddd;
        }

.titleNoCumplenConCondicion {
    text-align: center;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-size: 12px;
    padding: .75rem 1.25rem;
    margin-bottom: 0.3em;
}

.tdSeparadorGrilla {
    border-right: 2px solid #717171 !important;
}

.tr_thead > td {
    border-right: none !important;
}

#labbi {
    max-width: 80px;
    position: absolute;
    top: 3px;
}

@media (min-width : 992px) {
    #labbi {
        top: 35px;
        right: 0;
    }
}

@media (min-width : 1020px) {
    #labbi {
        top: 3px;
        right: auto;
    }
}

.linkWP {
    color: #1abc9c;
}

    .linkWP:active {
        color: #1abc9c;
    }

    .linkWP:hover {
        color: #1abc9c;
    }

    .linkWP:link {
        color: #1abc9c;
    }

    /* visited link */
    .linkWP:visited {
        color: #1abc9c;
    }

.linkWP_icon {
    padding-right: 5px;
    padding-left: 3px;
    font-size: 12px;
}
/* fin nuevo lanzamientos */
.nav_sec a.nuevoLanzamiento i {
    color: #5ca679 !important;
}

.nav_sec a.nuevoLanzamiento {
    color: #5ca679 !important;
}
    .nav_sec a.nuevoLanzamiento.active {
        background-color: #5ca679 !important;
        color: #fff !important;
    }
        .nav_sec a.nuevoLanzamiento.active i {
            color: #fff !important;
            
        }
.divFondoLanzamiento {
    background-color: rgb(212,212,212);
    /*rgba(255, 255, 255, 0.5);*/
}
.divContenedorLanzamiento {
    margin:10px;
}
.divFondoDescLanzamiento {
    /*background-color: rgba(255, 255, 255, 0.5);*/
}
.img-responsive-lanzamiento {
margin:auto;
}
.modal-lanzamiento {
    width:auto;
}
/* fin nuevo lanzamientos */
a.mtz {
    z-index: 0;
}
.separateReservaVacunas {
    margin-left: 80px;
}
.labelMsgError {
    display: none;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}
@keyframes anim {
    0% {
        background-color: #315e7b;
    }
    25% {
        background-color: #1b82c5;
    }
    50% {
        background-color: #315e7b;
    }
    75% {
        background-color: #1b82c5;
    }
    100% {
        background-color: #315e7b;
    }
}

#botonOferta {
    animation-name: anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


    /* Estilos para el botón */
    .popup-button {
        cursor: pointer;
        color: white;
        text-decoration: underline;
    }

    /* Estilos para el botón del popup */
    .popup-tyc .close-popup {
        display: inline-block;
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px; /* Ajustar margen superior según sea necesario */
        align-items: center;
    }

    /* Estilos para el botón del popup al pasar el cursor */
    .popup-tyc .close-popup:hover {
        background-color: #0056b3;
    }

    /* Estilos para el popup */
    .popup-tyc {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border: 2px solid #ccc;
        width: 60%; 
        max-width: 90%; 
        height: 60%; 
        max-height: 90%; 
        overflow-y: auto; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 9999;
    }
    .titulo-popup{
        text-align: center; 
        margin-top: 25px; 

    }

    /* Estilos para el fondo oscuro detrás del popup */
    .overlay-tyc {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9998;
    }
    .portfolio-modal .modal-content {
        padding:0px 0px 25px !important;
    }
    
    .modal-header {
        padding: 0px !important;
        min-height: 0px !important;
    }
    
    .button-modal {
    
        border: 1px solid #000;
    }
    .monto-total1{
    
        font-size: 16px; 
        border: 1px solid #000; 
        padding: 4px; 
        display: inline-block;
        text-align: center;
        background-color: #e9e9e9;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        margin-left: 25px;
    }
    .monto-total2{
    
        font-size: 16px; 
        border: 1px solid #000;
        padding: 4px;
        display: inline-block;
        text-align: center;
        background-color: #e9e9e9;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        margin-bottom: 15px;
    }
    
    .modal-body{
        padding: 10px !important;
    }
    
    /*Titulos Combo Cerrado <--------------*/
    
    .modal-lg{
        width: 1200px !important;
    }
    .rowComboCerrado {
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0;
        height: 100%;
        flex-direction: row;
    }
      
    /*Titulos <----------------*/
      .producto {
        flex: 3;
      }
      
      .descripcion {
        flex: 2;
    
      }
      
      .precio {
        flex: 1.5;
    
      }
      
      .precio-descuento {
        flex: 1.5;
      }
      
      .cant-unidadesCombo {
        flex: 1;
    
    
      }
      
      .cant-total-unidades {
        flex: 1;
    
      }
      
      .producto-bonificado {
        flex: 2;
    
      }
      
      .cant-bonificada {
        flex: 1;
    
      }
      
      .cant-total-bonificada {
        flex: 0.5;
    
      }
      .precio-bonificado {
        flex: 1;
    
      }
      
      .precio-total-descuento {
        flex: 1;
    
      }
      
      .precio-unidad {
        flex: 1;
    
      }
    
    /* Estilo para ocultar los botones de incremento y decremento */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none !important;
      margin: 0 !important
    }
    
    input[type="number"] {
      -moz-appearance: textfield !important; /* Firefox */
    }
    
    .col-lg-12.con-padding {
        padding-top: 20px;
    }

    .modal-content.cred-total{
        padding-bottom: 10px !important;
    }
    