#map_canvas2 {
    /*background: url(../../../img/mapa.png) left top no-repeat;*/
    background-image: url(../../../img/mapa2.jpg);
    background-size: cover;
    background-position: right;
}

.div_info_mapa, .div_ref_mapa {
    margin-top: -80px;
}
.ref_mapa a {
    padding: 13px 0 13px 10px!important;
    line-height: 15px;
}
.section-gris-claro{padding:10px 0;}

.hospitalario h1 {
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    color: #d6dbdf;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
}
.clear55_ofertas {
    height: 20px;
}
.cssHomeDisplayNone {
display:none;
}
