#map_canvas2 {
    /*background: url(../../../img/mapa.png) left top no-repeat;*/
    background-image: url(../../../img/mapa2.jpg);
    background-size: cover;
    background-position: right;
}

.div_info_mapa, .div_ref_mapa {
    margin-top: -80px;
}
.ref_mapa a {
    padding: 13px 0 13px 10px!important;
    line-height: 15px;
}
.section-gris-claro{padding:10px 0;}

.hospitalario h1 {
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    color: #d6dbdf;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
}
.clear55_ofertas {
    height: 20px;
}
.cssHomeDisplayNone {
display:none;
}


    /* Estilos para el botón */
    .popup-button {
        cursor: pointer;
        color: white;
        text-decoration: underline;
    }

    /* Estilos para el botón del popup */
    .popup .close-popup {
        display: inline-block;
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px; /* Ajustar margen superior según sea necesario */
        align-items: center;
    }

    /* Estilos para el botón del popup al pasar el cursor */
    .popup .close-popup:hover {
        background-color: #0056b3;
    }

    /* Estilos para el popup */
    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border: 2px solid #ccc;
        width: 60%; 
        max-width: 90%; 
        height: 60%; 
        max-height: 90%; 
        overflow-y: auto; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 9999;
    }
    .titulo-popup{
        text-align: center; 
        margin-top: 25px; 

    }

    /* Estilos para el fondo oscuro detrás del popup */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9998;
    }