@inject IHttpContextAccessor Accessor
@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Nativo Sistemas" />
    <meta name="distribution" content="Global" />
    <meta name="city" content="Rosario" />
    <meta name="country" content="Argentina" />
    <meta name="geography" content="Pueyrredón 1149 - S2000QIG - Rosario - Santa Fe - Argentina" />
    <meta name="robots" content="noindex,nofollow,noarchive,noodp,nosnippet" />
    <meta name="language" content="Spanish" />
    <meta name="theme-color" content="#2C3E50" />
    <link rel="shortcut icon" href="~/favicon.ico" />

    <link href="../includes/css/main.css?n=22" rel="stylesheet" />
    <link href="../includes/css/select2.min.css?n=3" rel="stylesheet" />
    <link href="../includes/css/main-overwrite.css?n=58" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../admin/pages/lib/css/wysiwyg-color.css" />
    <script src="../includes/home/js/jquery-3.1.0.min.js"></script>
    <script src="../includes/home/js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/includes/home/css/jquery-confirm.min.css" />
    <script src="../../includes/home/js/jquery-confirm.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../includes/home/js/jquery/function.js"></script>
    <script type="text/javascript" src="../includes/home/js/jquery/validate.js"></script>
    <script type="text/javascript" src="../includes/home/js/jquery/function_forms.js"></script>

    <script type="text/javascript" src="../includes/js/mensaje.js?n=31"></script>
    <script type="text/javascript" src="../includes/home/js/jquery/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../includes/home/js/master.js?n=14"></script>
    <script src="../includes/home/js/Libreria.js?n=2"></script>
    <script type="text/javascript" src="../includes/home/js/recall.js?n=4"></script>


    <title></title>
</head>

<body class="bd_sec">

    <div class="container-fluid">

        <section class="section-gris-claro" id="todasOfertas">



            <div id="divContenedorOfertas" class="container">
            </div>
        </section>

        @{
            string result = string.Empty;
            int id = DKweb.Codigo.Util.lanzamiento_idOferta(Accessor);
            List<DKbase.web.capaDatos.cOferta> l = new List<DKbase.web.capaDatos.cOferta>();
            DKbase.web.capaDatos.cOferta o = DKbase.Util.RecuperarTodasOfertas_generico().FirstOrDefault(x => x.ofe_idOferta
            == id);
            if (o != null)
            {
                l.Add(o);
                result += "<input type=\"hidden\" id=\"hiddenListaOfertas\" value=\"" +
                System.Net.WebUtility.HtmlEncode(DKbase.generales.Serializador_base.SerializarAJson(l)) + "\" />";
            }
            WriteLiteral(result);
        }
        <script type="text/javascript" src="../includes/js/oferta.js?n=11"></script>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                prepararListaMsgLanzamiento($('#hiddenListaOfertas').val());
            });
        </script>
</body>

</html>
