<div id="divMostradorProducto" class="div_pop-over">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td id="tdImgProductoDatos" valign="top" class="td_img"><img id="imgProductoDatos" src="" class="img-reponsive"></td>
                <td valign="top">
                    <table class="cont_po" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    Nombre:
                                </td>
                                <td id="tdNombre"></td>
                            </tr>
                            <tr>
                                <td>
                                    Laboratorio:
                                </td>
                                <td id="tdLaboratorio"></td>
                            </tr>
                            <tr>
                                <td>
                                    Monodroga:
                                </td>
                                <td id="tdMonodroga"></td>
                            </tr>
                            <tr>
                                <td>
                                    Código Barra:
                                </td>
                                <td id="tdCodigoBarra"></td>
                            </tr>
                            <tr>
                                <td>
                                    Código AlfaBeta:
                                </td>
                                <td id="tdCodigoAlfaBeta"></td>
                            </tr>
                            <tr>
                                <td>
                                    Troquel:
                                </td>
                                <td id="tdTroquel"></td>
                            </tr>
                            <tr>
                                <td>
                                    Tipo de venta:
                                </td>
                                <td id="tdTipoVenta"></td>
                            </tr>
                            <tr>
                                <td>
                                    Tipo de producto:
                                </td>
                                <td id="tdTipoProducto"></td>
                            </tr>
                            <tr>
                                <td>
                                    Cadena de frio:
                                </td>
                                <td id="tdCadenaFrio"></td>
                            </tr>
                            <tr>
                                <td>
                                    Trazable:
                                </td>
                                <td id="tdTrazable"></td>
                            </tr>
                            <tr>
                                <td>
                                    Familia:
                                </td>
                                <td id="tdFamilia"></td>
                            </tr>
                            <tr>
                                <td>
                                    Pack de venta:
                                </td>
                                <td id="tdPackDeVenta"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div id="divMostradorDetalleTransferFacturacionDirecta" class="div_pop-over">
    <table class="cont_po" width="100%">
        <tbody>
            <tr>
                <td>
                    Condición General:
                </td>
                <td id="tdDescripcionTransfer"></td>
            </tr>
            <tr>
                <td>
                    Condición Producto:
                </td>
                <td id="tdDescripcionUnidadesBonificadas"></td>
            </tr>
            <tr>
                <td>
                    Unidad Mínima:
                </td>
                <td id="tdUnidadMinima"></td>
            </tr>
            <tr>
                <td>
                    Unidad Máxima:
                </td>
                <td id="tdUnidadMaxima"></td>
            </tr>
            <tr>
                <td>
                    Múltiplo Unidades:
                </td>
                <td id="tdMultiploUnidades"></td>
            </tr>
            <tr>
                <td>
                    Unidades Fijas:
                </td>
                <td id="tdUnidadesFijas"></td>
            </tr>
            <tr>
                <td>
                    Tipo de venta:
                </td>
                <td id="tdTipoVentaTransfer"></td>
            </tr>
            <tr>
                <td>
                    Unidades Bonificadas:
                </td>
                <td id="tdUnidadesBonificadas"></td>
            </tr>

        </tbody>
    </table>
</div>